force-app/main/default/flows/Abstract_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Type_and_Topic</name>
        <label>Assign Type and Topic</label>
        <locationX>584</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Abstract_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topics_Pick</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAbstract</name>
        <label>AssignAbstract</label>
        <locationX>612</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conclusion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Introduction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Methods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Results__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Abstract_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topics_Pick</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAbstract_0</name>
        <label>AssignAbstract</label>
        <locationX>741</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conclusion_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Introduction_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Methods_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Results__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Abstract_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topics_Pick_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAbstractValues</name>
        <label>AssignAbstractValues</label>
        <locationX>510</locationX>
        <locationY>3396</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bursary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Tournament_Basic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament_Basic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Tournament_Clinical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament_Clinical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignStage50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAbstractValues_0</name>
        <label>AssignAbstractValues</label>
        <locationX>631</locationX>
        <locationY>3379</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bursary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignStage50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAbstractValues_0_0</name>
        <label>AssignAbstractValues</label>
        <locationX>398</locationX>
        <locationY>3368</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignStage50</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStage1</name>
        <label>AssignStage1</label>
        <locationX>514</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Event_Stage_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStage10</name>
        <label>AssignStage10</label>
        <locationX>642</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fill_Abstract_Stage_10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStage20</name>
        <label>AssignStage20</label>
        <locationX>613</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Files_Stage_20</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStage30</name>
        <label>AssignStage30</label>
        <locationX>606</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Presenter_Stage_30</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Presenter_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStage40</name>
        <label>AssignStage40</label>
        <locationX>484</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Authors_Stage_40</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Authors_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStage50</name>
        <label>AssignStage50</label>
        <locationX>635</locationX>
        <locationY>3506</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Submit_Stage_50</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Files_Error_Message</name>
        <label>Enable Files Error Message</label>
        <locationX>289</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>FilesErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Presenter_Error_Message</name>
        <label>Enable Presenter Error Message</label>
        <locationX>129</locationX>
        <locationY>1804</locationY>
        <assignmentItems>
            <assignToReference>PresenterErrorFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Presenter_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Topic_Error</name>
        <label>Enable Topic Error</label>
        <locationX>218</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>ShowTopicError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Topic_Error_0</name>
        <label>Enable Topic Error</label>
        <locationX>818</locationX>
        <locationY>2692</locationY>
        <assignmentItems>
            <assignToReference>ShowTopicErrorReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Type_Error</name>
        <label>Enable Type Error</label>
        <locationX>313</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>ShowTypeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Type_Error_0</name>
        <label>Enable Type Error</label>
        <locationX>940</locationX>
        <locationY>2948</locationY>
        <assignmentItems>
            <assignToReference>ShowTypeErrorReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Word_Count_Error</name>
        <label>Enable Word Count Error</label>
        <locationX>426</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>ShowWordCountError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Word_Count_Error_0</name>
        <label>Enable Word Count Error</label>
        <locationX>940</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>ShowWordCountErrorReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LateBreakingSubmissionAssign</name>
        <label>LateBreakingSubmissionAssign</label>
        <locationX>833</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Late_Breaking_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMembershipStatus</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorConsentChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;* &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;I confirm that I have the consent of the authors to submit this abstract&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>CopyrightChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;* &lt;/span&gt;I confirm that I hold the copyright for this abstract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImageLocationDefaultChoice</name>
        <choiceText>No section selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Location Selected</stringValue>
        </value>
    </choices>
    <choices>
        <name>OriginalityChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;* &lt;/span&gt;I confirm the originality of this abstract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>TopicDefaultChoice</name>
        <choiceText>{!SetTopicDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetTopicDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>TypeDefaultChoice</name>
        <choiceText>{!SetTypeDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetTypeDefaultChoice</elementReference>
        </value>
    </choices>
    <constants>
        <name>CongressRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123Y000000MjVbQAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>TopicFieldId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Abstract__c.00N0E000007uo8z</stringValue>
        </value>
    </constants>
    <constants>
        <name>TypeFieldId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Abstract__c.00N0E000007uHfg</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checkboxes_Null</name>
        <label>Checkboxes = Null</label>
        <locationX>494</locationX>
        <locationY>3234</locationY>
        <defaultConnector>
            <targetReference>AssignAbstractValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Boxes Visible</defaultConnectorLabel>
        <rules>
            <name>RRFS_Member_and_Oral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bursary</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Tournament_Basic</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Tournament_Clinical</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignAbstractValues_0_0</targetReference>
            </connector>
            <label>All Boxes = Null</label>
        </rules>
        <rules>
            <name>Tournament_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tournament_Basic</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Tournament_Clinical</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignAbstractValues_0</targetReference>
            </connector>
            <label>Tournament = Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSubmissionWindow</name>
        <label>CheckSubmissionWindow</label>
        <locationX>501</locationX>
        <locationY>553</locationY>
        <defaultConnector>
            <targetReference>Deadline_passed_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Submission Closed</defaultConnectorLabel>
        <rules>
            <name>Submission_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.Abstract_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Submissions Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEvent.Abstract_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Submission Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMembershipStatus</targetReference>
            </connector>
            <label>Submission Open</label>
        </rules>
        <rules>
            <name>Late_Breaking_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEvent.Abstract_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Breaking Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LateBreakingSubmissionAssign</targetReference>
            </connector>
            <label>Late Breaking Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Image_Locations_Selected</name>
        <label>Image Locations Selected</label>
        <locationX>459</locationX>
        <locationY>1498</locationY>
        <defaultConnector>
            <targetReference>Review_Files_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Location_Selected</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Image_1_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No section selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image1Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image_2_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No section selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image_3_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No section selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image3Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Files_Error_Message</targetReference>
            </connector>
            <label>No Location Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>PresenterChecker</name>
        <label>PresenterChecker</label>
        <locationX>240</locationX>
        <locationY>1932</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Presenter_not_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkedPresenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Presenter_Error_Message</targetReference>
            </connector>
            <label>Presenter not checked</label>
        </rules>
        <rules>
            <name>Presenter_checked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>checkedPresenter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>selectedRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PresenterFound</targetReference>
            </connector>
            <label>Presenter checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>PresenterFound</name>
        <label>PresenterFound</label>
        <locationX>472</locationX>
        <locationY>2016</locationY>
        <defaultConnector>
            <targetReference>AssignStage40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Presenter</defaultConnectorLabel>
        <rules>
            <name>Assign_Presenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedRecordId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Abstract_with_Presenter_0</targetReference>
            </connector>
            <label>Assign Presenter</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmitAbstractDecision</name>
        <label>SubmitAbstractDecision</label>
        <locationX>492</locationX>
        <locationY>3703</locationY>
        <defaultConnector>
            <targetReference>SubmissionSuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Draft</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmitAbstract</targetReference>
            </connector>
            <label>Ready to Submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Input</name>
        <label>Validate Input</label>
        <locationX>493</locationX>
        <locationY>973</locationY>
        <defaultConnector>
            <targetReference>AssignAbstract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>MaximumReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalBodyWordCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Word_Count_Error</targetReference>
            </connector>
            <label>Maximum Reached</label>
        </rules>
        <rules>
            <name>Type_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select a type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Type_Error</targetReference>
            </connector>
            <label>Type Not Selected</label>
        </rules>
        <rules>
            <name>Topic_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Topics_Pick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select a topic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Topic_Error</targetReference>
            </connector>
            <label>Topic Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Input_0</name>
        <label>Validate Input</label>
        <locationX>733</locationX>
        <locationY>2880</locationY>
        <defaultConnector>
            <targetReference>AssignAbstract_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>MaximumReached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalBodyWordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Word_Count_Error_0</targetReference>
            </connector>
            <label>Maximum Reached</label>
        </rules>
        <rules>
            <name>Type_Not_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetTypeDefaultChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select a type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Type_Error_0</targetReference>
            </connector>
            <label>Type Not Selected</label>
        </rules>
        <rules>
            <name>Topic_Not_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetTopicDefaultChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select a topic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Topic_Error_0</targetReference>
            </connector>
            <label>Topic Not Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AbstractTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CongressRecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>Event__c</object>
        <outputAssignments>
            <assignToReference>SelectedEvent</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageLocationPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_1_Location__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Abstract_Topic__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TopicFieldId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetTopicDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypeFieldId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetTypeDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Image1Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload1.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image1Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload1.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image2Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload2.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image2Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload2.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image3Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload3.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image3Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload3.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SetTopicDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!AbstractRecordVariable.Abstract_Topic__c}), &quot;Select a topic&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetTypeDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!AbstractRecordVariable.Type__c}), &quot;Select a type&quot;)</expression>
    </formulas>
    <formulas>
        <name>TotalBodyWordCount</name>
        <dataType>Number</dataType>
        <expression>{!WordCountIntroduction}+{!WordCountMethods}+{!WordCountResults}+{!WordCountConclusion}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountConclusion</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Conclusion}))-LEN(SUBSTITUTE( Trim({!Conclusion}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountIntroduction</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Introduction}))-LEN(SUBSTITUTE( Trim({!Introduction}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountMethods</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Methods}))-LEN(SUBSTITUTE( Trim({!Methods}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountResults</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Results}))-LEN(SUBSTITUTE( Trim({!Results}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Abstract Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abstract Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateAbstract</name>
        <label>CreateAbstract</label>
        <locationX>474</locationX>
        <locationY>1155</locationY>
        <connector>
            <targetReference>AssignStage20</targetReference>
        </connector>
        <inputReference>AbstractRecordVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateJunctions</name>
        <label>CreateJunctions</label>
        <locationX>484</locationX>
        <locationY>2563</locationY>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
        <inputReference>AbstractAuthors</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetEvent</name>
        <label>GetEvent</label>
        <locationX>510</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSubmissionWindow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Event</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Abstract_Submission_Deadline__c</queriedFields>
        <queriedFields>Abstract_Submission__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMembershipStatus</name>
        <label>GetMembershipStatus</label>
        <locationX>757</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignStage10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Membership_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SubmitAbstract</name>
        <label>SubmitAbstract</label>
        <locationX>438</locationX>
        <locationY>3905</locationY>
        <connector>
            <targetReference>SubmissionSuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Abstract</name>
        <label>Update Abstract</label>
        <locationX>598</locationX>
        <locationY>3023</locationY>
        <connector>
            <targetReference>Check_Affirmations_Screen</targetReference>
        </connector>
        <inputReference>AbstractRecordVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Abstract_with_Presenter_0</name>
        <label>Update Abstract with Presenter</label>
        <locationX>794</locationX>
        <locationY>2085</locationY>
        <connector>
            <targetReference>AssignStage40</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abstract_Presenter__c</field>
            <value>
                <elementReference>selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAbstract</name>
        <label>UpdateAbstract</label>
        <locationX>470</locationX>
        <locationY>1738</locationY>
        <connector>
            <targetReference>AssignStage30</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Caption__c</field>
            <value>
                <elementReference>Image_1_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_ID__c</field>
            <value>
                <elementReference>Image1Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_Location__c</field>
            <value>
                <elementReference>Image_1_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1__c</field>
            <value>
                <elementReference>Image1Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Caption__c</field>
            <value>
                <elementReference>Image_2_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_ID__c</field>
            <value>
                <elementReference>Image2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Location__c</field>
            <value>
                <elementReference>Image_2_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2__c</field>
            <value>
                <elementReference>Image2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Caption__c</field>
            <value>
                <elementReference>Image_3_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_ID__c</field>
            <value>
                <elementReference>Image3Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Location__c</field>
            <value>
                <elementReference>Image_3_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3__c</field>
            <value>
                <elementReference>Image3Name</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Authors_Screen</name>
        <label>Add Authors Screen</label>
        <locationX>484</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateJunctions</targetReference>
        </connector>
        <fields>
            <name>ProgressAddAuthors</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CreateAbstractSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Please add at least one author to your abstract.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Do not add more than 25 authors.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomLookupAuthorComponent</name>
            <extensionName>c:CustomLookupAuthor</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxAuthors</name>
                <value>
                    <numberValue>25.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AbstractRecordVariable</name>
                <value>
                    <elementReference>AbstractRecordVariable</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AbstractAuthors</assignToReference>
                <name>associations</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Presenter_Screen</name>
        <label>Add Presenter Screen</label>
        <locationX>472</locationX>
        <locationY>1843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PresenterChecker</targetReference>
        </connector>
        <fields>
            <name>ProgressAddPresenter</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PresenterErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You cannot select this presenter. This presenter already has three abstracts.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PresenterErrorFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactCustomLookup</name>
            <extensionName>c:CustomLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>checkedPresenter</name>
                <value>
                    <elementReference>checkedPresenter</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>AbstractRecordVariable</name>
                <value>
                    <elementReference>AbstractRecordVariable</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>checkedPresenter</assignToReference>
                <name>checkedPresenter</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedRecordId</assignToReference>
                <name>selectedRecordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Affirmations_Screen</name>
        <label>Check Affirmations Screen</label>
        <locationX>505</locationX>
        <locationY>3100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkboxes_Null</targetReference>
        </connector>
        <fields>
            <name>ProgressFillAbstract_0</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AffirmationHeadlin_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Affirmations&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tournament_Basic</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I wish to participate in the Tournament Basic</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You can only apply for participation in one Tournament.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Tournament_Basic}=true &amp;&amp; {!Tournament_Clinical}=true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Virtual oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Onsite oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetMembershipStatus.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EAN Resident and Research Member</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Poster or Oral</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tournament_Clinical</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I wish to participate in the Tournament Clinical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;You can only apply for participation in one Tournament.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Tournament_Clinical}=true &amp;&amp; {!Tournament_Basic}=true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Onsite oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Virtual oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetMembershipStatus.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EAN Resident and Research Member</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Poster or Oral</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bursary</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I wish to apply for a bursary for the EAN Congress</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetMembershipStatus.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EAN Resident and Research Member</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RequiredText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;*&lt;/b&gt;&lt;b&gt; These fields are required&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorConsentCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>* I confirm that I have the consent of the authors to submit this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!AuthorConsentCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OriginalityCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>* I confirm the originality of this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OriginalityCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CopyrightCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>* I confirm that I hold the copyright for this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CopyrightCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>ConfirmAbstractFooter</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLabel</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deadline_passed_screen</name>
        <label>Deadline passed screen</label>
        <locationX>307</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DeadlinePassedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The abstract submission deadline for this event has already passed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen</name>
        <label>Fill Abstract Screen</label>
        <locationX>512</locationX>
        <locationY>689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Type_and_Topic</targetReference>
        </connector>
        <fields>
            <name>ProgressFillAbstract</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>TypeRecordChoice</choiceReferences>
            <choiceReferences>TypeDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TypeDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowTypeError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter less than 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Title})&lt;=120</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Topics_Pick</name>
            <choiceReferences>TopicRecordChoice</choiceReferences>
            <choiceReferences>TopicDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TopicDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Abstract Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TopicErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowTopicError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BodyHeadlineText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Abstract Body:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MaxWordErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter less than 250 words.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowWordCountError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Introduction</name>
            <defaultValue>
                <stringValue>{!Introduction}</stringValue>
            </defaultValue>
            <fieldText>Introduction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Introduction}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Methods</name>
            <defaultValue>
                <stringValue>{!Methods}</stringValue>
            </defaultValue>
            <fieldText>Methods</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Methods}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Results</name>
            <defaultValue>
                <stringValue>{!Results}</stringValue>
            </defaultValue>
            <fieldText>Results</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Results}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Conclusion</name>
            <defaultValue>
                <stringValue>{!Conclusion}</stringValue>
            </defaultValue>
            <fieldText>Conclusion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Conclusion}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>UploadInfoText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Images are uploaded and placed to the respective section in the next step.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Disclosure</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Disclosure</elementReference>
            </defaultValue>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Disclosure}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen_0</name>
        <label>Review Abstract Screen</label>
        <locationX>617</locationX>
        <locationY>2826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Input_0</targetReference>
        </connector>
        <fields>
            <name>ProgressFillAbstract_0_0</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_0</name>
            <choiceReferences>TypeDefaultChoice</choiceReferences>
            <choiceReferences>TypeRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TypeDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeErrorText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowTypeErrorReview</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter less than 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Title})&lt;=120</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Topics_Pick_0</name>
            <choiceReferences>TopicDefaultChoice</choiceReferences>
            <choiceReferences>TopicRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TopicDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Abstract Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TopicErrorText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowTopicErrorReview</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BodyHeadlineText_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Abstract Body:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Introduction_0</name>
            <defaultValue>
                <stringValue>{!Introduction}</stringValue>
            </defaultValue>
            <fieldText>Introduction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Introduction}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Methods_0</name>
            <defaultValue>
                <stringValue>{!Methods}</stringValue>
            </defaultValue>
            <fieldText>Methods</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Methods}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Results_0</name>
            <defaultValue>
                <stringValue>{!Results}</stringValue>
            </defaultValue>
            <fieldText>Results</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Results}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Conclusion_0</name>
            <defaultValue>
                <stringValue>{!Conclusion}</stringValue>
            </defaultValue>
            <fieldText>Conclusion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field is required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Conclusion}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>WordcountDisplay</name>
            <fieldText>&lt;p&gt;&lt;u&gt;{!TotalBodyWordCount} words&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MaxWordErrorText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter less than 250 words.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowWordCountErrorReview</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disclosure_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Disclosure</elementReference>
            </defaultValue>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TRIM({!Disclosure}))!=0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Abstract</name>
        <label>Review Abstract</label>
        <locationX>463</locationX>
        <locationY>2832</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AbstractSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;Please review your submission:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Abstract Type: &lt;/b&gt;&lt;b&gt;{!Type}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Topic: &lt;/b&gt;&lt;b&gt;{!Topics_Pick}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Abstract Title:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Abstract Body:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;({!TotalBodyWordCount} words total)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Introduction:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;({!WordCountIntroduction} words)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Introduction}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Methods:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;({!WordCountMethods} words)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Methods}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Results:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;({!WordCountResults} words)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Results}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Conclusion&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;({!WordCountConclusion} words)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Conclusion}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Disclosure: &lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Disclosure}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AffirmationHeadlineSummary</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Affirmations&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tournament_Basic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tournament_Clinical</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Bursary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TournamentBasicConfirmation</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://eanregisterdev--eventreg1--c.documentforce.com/sfc/servlet.shepherd/version/download/0680E000001SGW0?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;I wish to participate in the Tournament Basic&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tournament_Basic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TournamentClinicalConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://eanregisterdev--eventreg1--c.documentforce.com/sfc/servlet.shepherd/version/download/0680E000001SGW5?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/span&gt;I wish to participate in the Tournament Clinical.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tournament_Clinical</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BursaryConfirmation</name>
            <fieldText>&lt;p&gt;&lt;img src=&quot;https://eanregisterdev--eventreg1--c.documentforce.com/sfc/servlet.shepherd/version/download/0680E000001SGWA?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;I wish to apply for a bursary for the EAN Congress&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bursary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfirmSummaryFooter</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backLabel</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Files_Screen</name>
        <label>Review Files Screen</label>
        <locationX>584</locationX>
        <locationY>1613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAbstract</targetReference>
        </connector>
        <fields>
            <name>NoFilesAddedText</name>
            <fieldText>&lt;p&gt;You have not added any images to your abstract. &lt;/p&gt;&lt;p&gt;Click &lt;i&gt;Previous&lt;/i&gt; to add images. &lt;/p&gt;&lt;p&gt;Click &lt;i&gt;Next&lt;/i&gt; to continue. You can also add images later. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileSuccessText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Following images have been added to your abstract:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAddedSuccessMessage_1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Image_1_Location}: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Image_1_Caption}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewImage1</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Image1Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAddedSuccessMessage_2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Image_2_Location}: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Image_2_Caption}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewImage2</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Image2Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAddedSuccessMessage_3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Image_3_Location}: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Image_3_Caption}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewImage3</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Image3Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Event_Screen</name>
        <label>Select Event Screen</label>
        <locationX>510</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignStage1</targetReference>
        </connector>
        <fields>
            <name>ProgressSelectEvent</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Event</name>
            <choiceReferences>EventChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Event</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmissionSuccessScreen</name>
        <label>SubmissionSuccessScreen</label>
        <locationX>607</locationX>
        <locationY>3905</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DraftSuccessText</name>
            <fieldText>&lt;p&gt;Your draft has been saved.&lt;/p&gt;&lt;p&gt;All abstracts drafts can be seen and edited in the community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please remember to submit your abstract before the deadline {!GetEvent.Abstract_Submission_Deadline__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubmitToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubmissionSuccessText</name>
            <fieldText>&lt;p&gt;Thank you for your abstract submission!&lt;/p&gt;&lt;p&gt;You can see the status of your submitted abstract in the community.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubmitToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EndFlowFooter</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Close</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>/s/abstracts</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Screen</name>
        <label>Submit Screen</label>
        <locationX>501</locationX>
        <locationY>3568</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SubmitAbstractDecision</targetReference>
        </connector>
        <fields>
            <name>ProgressSubmit</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SubmitToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to submit this abstract now?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to submit my abstract now</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to save this draft and submit it later</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmSubmissionFooter</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>redirectUrl</name>
                <value>
                    <stringValue>https://eanregisterdev--eventreg1.my.salesforce.com/servlet/networks/switch?networkId=0DB3Y000000Gopq&amp;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pauseLabel</name>
                <value>
                    <stringValue>Keep Draft</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>backLabel</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_Screen</name>
        <label>Upload Files Screen</label>
        <locationX>468</locationX>
        <locationY>1380</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Image_Locations_Selected</targetReference>
        </connector>
        <fields>
            <name>ProgressFileUpload</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>11</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AbstractCreatesSuccessText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A draft of your abstract has been successfully created!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;If you need to make changes to your abstract, you can do this later as well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Now, please add files to your abstract and specify to which section of your abstract they belong:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please upload your images again and select a section for all files you uploaded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FilesErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Image_1_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Image_1_Caption</elementReference>
            </defaultValue>
            <fieldText>1. Add caption:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_1_Location</name>
            <choiceReferences>ImageLocationPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>1. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_2_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Image_2_Caption</elementReference>
            </defaultValue>
            <fieldText>2. Add caption:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_2_Location</name>
            <choiceReferences>ImageLocationPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>2. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>3. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_3_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Image_3_Caption</elementReference>
            </defaultValue>
            <fieldText>3. Add caption:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_3_Location</name>
            <choiceReferences>ImageLocationPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>3. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmText2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Click &lt;/i&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;i&gt;Next&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; to see which files you have uploaded.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Add_Authors_Stage_40</name>
        <isActive>true</isActive>
        <label>Add Authors</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Add_Files_Stage_20</name>
        <isActive>true</isActive>
        <label>Add Files</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Add_Presenter_Stage_30</name>
        <isActive>true</isActive>
        <label>Add Presenter</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Check_Affirmations_Stage_45</name>
        <isActive>true</isActive>
        <label>Confirm</label>
        <stageOrder>45</stageOrder>
    </stages>
    <stages>
        <name>Fill_Abstract_Stage_10</name>
        <isActive>true</isActive>
        <label>Fill Abstract</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Select_Event_Stage_1</name>
        <isActive>true</isActive>
        <label>Select Event</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Submit_Stage_50</name>
        <isActive>true</isActive>
        <label>Submit</label>
        <stageOrder>50</stageOrder>
    </stages>
    <start>
        <locationX>384</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Event_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbstractAuthor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractAuthorCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractAuthors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AbstractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AbstractRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract__c</objectType>
    </variables>
    <variables>
        <name>checkedPresenter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FilesErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LateBreakingSubmission</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewAuthorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PresenterErrorFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowTopicError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowTopicErrorReview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowTypeError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowTypeErrorReview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowWordCountError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowWordCountErrorReview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>totalStages</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
