force-app/main/default/flows/Call_for_Membership_Renewal_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_For_Membership_Renewal_Email_Alert</name>
        <label>Call For Membership Renewal Email Alert</label>
        <locationX>819</locationX>
        <locationY>49</locationY>
        <actionName>MembershipContactAssotiation__c.Call_For_Membership_Renewal_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Uncheck_Checkbox</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MembershipStatusId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Call For Membership Renewal Reminder Email Alert</description>
        <name>Call_For_Membership_Renewal_Reminder_Email_Alert</name>
        <label>Call For Membership Renewal Reminder Email Alert</label>
        <locationX>823</locationX>
        <locationY>206</locationY>
        <actionName>MembershipContactAssotiation__c.Call_For_Membership_Renewal_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Uncheck_Checkbox</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MembershipStatusId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Initial_Call_OR_Reminder</name>
        <label>Initial Call OR Reminder</label>
        <locationX>589</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>Call_For_Membership_Renewal_Reminder_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reminder</defaultConnectorLabel>
        <rules>
            <name>IsInitialCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInitialRenewalCall</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Call_For_Membership_Renewal_Email_Alert</targetReference>
            </connector>
            <label>IsInitialCall</label>
        </rules>
    </decisions>
    <description>Call for Membership Renewal Flow</description>
    <interviewLabel>Call for Membership Renewal Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call for Membership Renewal Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Email Activity</description>
        <name>Create_Email_Activity</name>
        <label>Create Email Activity</label>
        <locationX>458</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Initial_Call_OR_Reminder</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Status__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Call For Membership Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Email_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Uncheck Checkbox &apos;Do Call For Renewal&apos;</description>
        <name>Uncheck_Checkbox</name>
        <label>Uncheck Checkbox</label>
        <locationX>1019</locationX>
        <locationY>126</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Call_For_Renewal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Activity__c</field>
            <value>
                <elementReference>Create_Email_Activity</elementReference>
            </value>
        </inputAssignments>
        <object>MembershipContactAssotiation__c</object>
    </recordUpdates>
    <start>
        <locationX>52</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Create_Email_Activity</targetReference>
        </connector>
        <filters>
            <field>Do_Call_For_Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MembershipContactAssotiation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>IsInitialRenewalCall</description>
        <name>IsInitialRenewalCall</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Email_Activity__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>MembershipStatusId</description>
        <name>MembershipStatusId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
