force-app/main/default/flows/Edit_Abstract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Abstract_Affirmations</name>
        <label>Assign Abstract Affirmations</label>
        <locationX>790</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abstract_Affirmations_0</name>
        <label>Assign Abstract Affirmations</label>
        <locationX>449</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bursary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Tournament_Basic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament_Basic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Tournament_Clinical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament_Clinical</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abstract_Affirmations_0_0</name>
        <label>Assign Abstract Affirmations</label>
        <locationX>556</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bursary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abstract_Values</name>
        <label>Assign Abstract Values</label>
        <locationX>551</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Introduction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Methods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Results__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conclusion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Abstract_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Total_Words_Reached_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abstract_Values_0</name>
        <label>Assign Abstract Values</label>
        <locationX>247</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeInvited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Image_1_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No section selected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Image_2_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No section selected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Abstract.Image_3_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No section selected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Body_Words_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Error_Message</name>
        <label>Enable Error Message</label>
        <locationX>50</locationX>
        <locationY>985</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Error_Message_0</name>
        <label>Enable Error Message</label>
        <locationX>749</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Files_Error_Message</name>
        <label>Enable Files Error Message</label>
        <locationX>67</locationX>
        <locationY>1964</locationY>
        <assignmentItems>
            <assignToReference>FilesErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Image_Id_1</name>
        <label>Remove Image Id 1</label>
        <locationX>779</locationX>
        <locationY>1965</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Image_1_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Image</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Image_Id_2</name>
        <label>Remove Image Id 2</label>
        <locationX>785</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Image_2_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Image</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Image_Id_3</name>
        <label>Remove Image Id 3</label>
        <locationX>782</locationX>
        <locationY>2205</locationY>
        <assignmentItems>
            <assignToReference>Get_Abstract.Image_3_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Image</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultypeChoice</name>
        <choiceText>{!Get_Abstract.Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Abstract.Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>ImageLocationDefaultChoice1</name>
        <choiceText>{!Get_Abstract.Image_1_Location__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Abstract.Image_1_Location__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>ImageLocationDefaultChoice2</name>
        <choiceText>{!Get_Abstract.Image_2_Location__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Abstract.Image_2_Location__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>ImageLocationDefaultChoice3</name>
        <choiceText>{!Get_Abstract.Image_3_Location__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Abstract.Image_3_Location__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>TopicDefaultChoice</name>
        <choiceText>{!Get_Abstract.Abstract_Topic__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Abstract.Abstract_Topic__c</elementReference>
        </value>
    </choices>
    <constants>
        <name>InvitedRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120E000001fKtLQAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>PublicRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120E000001fKtQQAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Abstract_Type</name>
        <label>Abstract Type</label>
        <locationX>405</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Get_membership_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Abstract.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PublicRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_membership_Status</targetReference>
            </connector>
            <label>Public</label>
        </rules>
        <rules>
            <name>Invited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Abstract.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvitedRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Abstract_Screen_0</targetReference>
            </connector>
            <label>Invited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Abstract_Status</name>
        <label>Check Abstract Status</label>
        <locationX>410</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Get_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Abstract.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deadline_passed_screen</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Submission_Deadline</name>
        <label>Check Submission Deadline</label>
        <locationX>400</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Abstract_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deadline_Not_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event.Abstract_Submission_Deadline__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Abstract_Type</targetReference>
            </connector>
            <label>Deadline Not Passed</label>
        </rules>
        <rules>
            <name>Too_Late_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event.Abstract_Submission_Deadline__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deadline_passed_screen</targetReference>
            </connector>
            <label>Too Late to Submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checkboxes_Null</name>
        <label>Checkboxes = Null</label>
        <locationX>546</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Assign_Abstract_Affirmations_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Boxes Visible</defaultConnectorLabel>
        <rules>
            <name>All_Boxes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bursary</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Tournament_Basic</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Tournament_Clinical</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Abstract_Affirmations</targetReference>
            </connector>
            <label>All Boxes = Null</label>
        </rules>
        <rules>
            <name>Tournament_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tournament_Basic</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Tournament_Clinical</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Abstract_Affirmations_0_0</targetReference>
            </connector>
            <label>Tournament = Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Image</name>
        <label>Delete Image?</label>
        <locationX>490</locationX>
        <locationY>2077</locationY>
        <defaultConnector>
            <targetReference>Update_Image_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not delete</defaultConnectorLabel>
        <rules>
            <name>Delete_Image_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_image1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Image_1_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Image_Id_1</targetReference>
            </connector>
            <label>Delete Image 1</label>
        </rules>
        <rules>
            <name>Delete_Image_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_image2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Image_2_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Image_Id_2</targetReference>
            </connector>
            <label>Delete Image 2</label>
        </rules>
        <rules>
            <name>Delete_Image_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_image3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Abstract.Image_3_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Image_Id_3</targetReference>
            </connector>
            <label>Delete Image 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Image_Locations_Selected</name>
        <label>Image Locations Selected</label>
        <locationX>297</locationX>
        <locationY>2028</locationY>
        <defaultConnector>
            <targetReference>Delete_Image</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Location_Selected</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Image_1_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No section selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewImage1Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image_2_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No section selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewImage2Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Image_3_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No section selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewImage3Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Files_Error_Message</targetReference>
            </connector>
            <label>No Location Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Body_Words_Reached</name>
        <label>Max Body Words Reached?</label>
        <locationX>205</locationX>
        <locationY>1361</locationY>
        <defaultConnector>
            <targetReference>Update_Abstract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maximum_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WordCountBody</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Error_Message</targetReference>
            </connector>
            <label>Maximum Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Total_Words_Reached_0</name>
        <label>Max Total Words Reached?</label>
        <locationX>545</locationX>
        <locationY>1280</locationY>
        <defaultConnector>
            <targetReference>Check_Affirmations_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Maximum_Reached_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalBodyWordCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Error_Message_0</targetReference>
            </connector>
            <label>Maximum Reached</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_Abstract_Decision</name>
        <label>Submit Abstract Decision</label>
        <locationX>290</locationX>
        <locationY>2411</locationY>
        <defaultConnector>
            <targetReference>Set_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Draft</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Abstract</targetReference>
            </connector>
            <label>Ready to Submit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ImageChoiceSet1</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007ua70</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ImageLocationDefaultChoice1</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageChoiceSet2</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007ua7A</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ImageLocationDefaultChoice2</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageChoiceSet3</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007ua7F</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ImageLocationDefaultChoice3</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007uo8z</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Abstract.Abstract_Topic__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007uHfg</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Abstract.Type__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeInvitedChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007uHfg</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Abstract.Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>Contains</operator>
            <value>
                <stringValue>oral</stringValue>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>NewImage1Id</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!FileUpload1.contentDocIds}), 
{!Get_Abstract.Image_1_ID__c}, 
SUBSTITUTE(SUBSTITUTE({!FileUpload1.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>NewImage2Id</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!FileUpload2.contentDocIds}), 
{!Get_Abstract.Image_2_ID__c}, 
SUBSTITUTE(SUBSTITUTE({!FileUpload2.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>NewImage3Id</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!FileUpload3.contentDocIds}), 
{!Get_Abstract.Image_3_ID__c}, 
SUBSTITUTE(SUBSTITUTE({!FileUpload3.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)
)</expression>
    </formulas>
    <formulas>
        <name>SetLocation1DefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!Get_Abstract.Image_1_Location__c}) , &quot;No section selected&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetLocation2DefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!Get_Abstract.Image_2_Location__c}) , &quot;No section selected&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetLocation3DefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!Get_Abstract.Image_3_Location__c}) , &quot;No section selected&quot;)</expression>
    </formulas>
    <formulas>
        <name>TotalBodyWordCount</name>
        <dataType>Number</dataType>
        <expression>{!WordCountIntroduction}+{!WordCountMethods}+{!WordCountResults}+{!WordCountConclusion}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountBody</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Body}))-LEN(SUBSTITUTE( Trim({!Body}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountConclusion</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Conclusion}))-LEN(SUBSTITUTE( Trim({!Conclusion}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountIntroduction</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Introduction}))-LEN(SUBSTITUTE( Trim({!Introduction}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountMethods</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Methods}))-LEN(SUBSTITUTE( Trim({!Methods}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WordCountResults</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Results}))-LEN(SUBSTITUTE( Trim({!Results}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Edit Abstract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Abstract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Abstract</name>
        <label>Get Abstract</label>
        <locationX>419</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Abstract_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Deadline_passed_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Abstract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>534</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Submission_Deadline</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Deadline_passed_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Abstract.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Abstract_Submission_Deadline__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_membership_Status</name>
        <label>Get membership Status</label>
        <locationX>553</locationX>
        <locationY>851</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Abstract.Submitter__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Membership_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Draft</name>
        <label>Set Draft</label>
        <locationX>470</locationX>
        <locationY>2557</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Submit_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Submit_Abstract</name>
        <label>Submit Abstract</label>
        <locationX>171</locationX>
        <locationY>2510</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Submit_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Abstract</name>
        <label>Update Abstract</label>
        <locationX>305</locationX>
        <locationY>1755</locationY>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Files_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Abstract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Image_Info</name>
        <label>Update Image Info</label>
        <locationX>298</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Submit_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Upload_Files_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Caption__c</field>
            <value>
                <elementReference>Image_1_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_ID__c</field>
            <value>
                <elementReference>NewImage1Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_Location__c</field>
            <value>
                <elementReference>Image_1_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Caption__c</field>
            <value>
                <elementReference>Image_2_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_ID__c</field>
            <value>
                <elementReference>NewImage2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Location__c</field>
            <value>
                <elementReference>Image_2_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Caption__c</field>
            <value>
                <elementReference>Image_3_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_ID__c</field>
            <value>
                <elementReference>NewImage3Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Location__c</field>
            <value>
                <elementReference>Image_3_Location</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <screens>
        <name>Check_Affirmations_Screen</name>
        <label>Check Affirmations Screen</label>
        <locationX>555</locationX>
        <locationY>1484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checkboxes_Null</targetReference>
        </connector>
        <fields>
            <name>AffirmationHeadlin_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Affirmations&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tournament_Basic</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Tournament_Basic__c</elementReference>
            </defaultValue>
            <fieldText>I wish to participate in the Tournament Basic</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You can only apply for participation in one Tournament.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Tournament_Basic}=true &amp;&amp; {!Tournament_Clinical}=true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Virtual oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Abstract.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Poster or Oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Abstract.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Onsite oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_membership_Status.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EAN Resident and Research Member</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tournament_Clinical</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Tournament_Clinical__c</elementReference>
            </defaultValue>
            <fieldText>I wish to participate in the Tournament Clinical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You can only apply for participation in one Tournament.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Tournament_Clinical}=true &amp;&amp; {!Tournament_Basic}=true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Virtual oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Abstract.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Poster or Oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Abstract.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Onsite oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_membership_Status.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EAN Resident and Research Member</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bursary</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Bursary__c</elementReference>
            </defaultValue>
            <fieldText>I wish to apply for a bursary for the EAN Congress</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_membership_Status.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>EAN Resident and Research Member</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RequiredText1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; These fields are required&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorConsentCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Authors_consent__c</elementReference>
            </defaultValue>
            <fieldText>* I confirm that I have the consent of the authors to submit this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!AuthorConsentCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OriginalityCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Originality__c</elementReference>
            </defaultValue>
            <fieldText>* I confirm the originality of this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OriginalityCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CopyrightCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Copyright__c</elementReference>
            </defaultValue>
            <fieldText>* I confirm that I hold the copyright for this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CopyrightCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deadline_passed_screen</name>
        <label>Deadline passed screen</label>
        <locationX>221</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DeadlinePassedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You cannot edit this abstract anymore. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen</name>
        <label>Fill Abstract Screen</label>
        <locationX>552</locationX>
        <locationY>995</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Abstract_Values</targetReference>
        </connector>
        <fields>
            <name>ErrorTextPublic</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter less than 250 words.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>TypeChoiceSet</choiceReferences>
            <choiceReferences>DefaultypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultypeChoice</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topic</name>
            <choiceReferences>TopicDefaultChoice</choiceReferences>
            <choiceReferences>TopicChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TopicDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Topic</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Title__c</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Introduction</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Introduction__c</elementReference>
            </defaultValue>
            <fieldText>Introduction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Methods</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Methods__c</elementReference>
            </defaultValue>
            <fieldText>Methods</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Results</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Results__c</elementReference>
            </defaultValue>
            <fieldText>Results</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Conclusion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Conclusion__c</elementReference>
            </defaultValue>
            <fieldText>Conclusion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disclosure</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Disclosure__c</elementReference>
            </defaultValue>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen_0</name>
        <label>Fill Abstract Screen</label>
        <locationX>247</locationX>
        <locationY>985</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Abstract_Values_0</targetReference>
        </connector>
        <fields>
            <name>ErrorTextInvited</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter less than 250 words.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TypeInvited</name>
            <choiceReferences>DefaultypeChoice</choiceReferences>
            <choiceReferences>TypeInvitedChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultypeChoice</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Title__c</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Body__c</elementReference>
            </defaultValue>
            <fieldText>Body</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Disclosure_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Disclosure__c</elementReference>
            </defaultValue>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Screen</name>
        <label>Submit Screen</label>
        <locationX>298</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Abstract_Decision</targetReference>
        </connector>
        <fields>
            <name>UpdateSuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Your abstract has been updated!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubmitToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to submit this abstract now?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to submit my abstract now</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to save this draft and submit it later</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>288</locationX>
        <locationY>2673</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DraftSucacessDisplay</name>
            <fieldText>&lt;p&gt;Your draft has been saved.&lt;/p&gt;&lt;p&gt;All abstracts drafts can be seen and edited in the community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please remember to submit your abstract before the deadline {!Get_Event.Abstract_Submission_Deadline__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubmitToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubmissionSuccessDisplay</name>
            <fieldText>&lt;p&gt;Thank you for your abstract submission!&lt;/p&gt;&lt;p&gt;You can see the status of your submitted abstract in the community.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SubmitToggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_Screen</name>
        <label>Upload Files Screen</label>
        <locationX>305</locationX>
        <locationY>1903</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Image_Locations_Selected</targetReference>
        </connector>
        <fields>
            <name>EditImagesText</name>
            <fieldText>&lt;p&gt;Below you can see the images you have added to your abstract. &lt;/p&gt;&lt;p&gt;You have the option to adjust where they should be located in the abstract. You can also replace them by uploading a new picture.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_1_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_2_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_3_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please select a section for all files you uploaded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FilesErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Image_1_Location</name>
            <choiceReferences>ImageChoiceSet1</choiceReferences>
            <choiceReferences>ImageLocationDefaultChoice1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ImageLocationDefaultChoice1</defaultSelectedChoiceReference>
            <fieldText>1. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Public</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Image_1_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Image_1_Caption__c</elementReference>
            </defaultValue>
            <fieldText>1. Caption:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>View_Image1</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Get_Abstract.Image_1_ID__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_1_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delete_image1</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete image</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_1_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1. Upload new image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Abstract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFileNames</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_2_Location</name>
            <choiceReferences>ImageLocationDefaultChoice2</choiceReferences>
            <choiceReferences>ImageChoiceSet2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ImageLocationDefaultChoice2</defaultSelectedChoiceReference>
            <fieldText>2. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Public</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Image_2_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Image_2_Caption__c</elementReference>
            </defaultValue>
            <fieldText>2. Caption:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>View_Image2</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>center</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Get_Abstract.Image_2_ID__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_2_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delete_image2</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete image</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_2_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. Upload new image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Abstract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFileNames</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_3_Location</name>
            <choiceReferences>ImageLocationDefaultChoice3</choiceReferences>
            <choiceReferences>ImageChoiceSet3</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ImageLocationDefaultChoice3</defaultSelectedChoiceReference>
            <fieldText>3. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Public</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Image_3_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Abstract.Image_3_Caption__c</elementReference>
            </defaultValue>
            <fieldText>3. Caption:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>View_Image3</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Get_Abstract.Image_3_ID__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_3_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Delete_image3</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete image</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Abstract.Image_3_ID__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>3. Upload new image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Abstract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFileNames</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>292</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Abstract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDoc1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilesErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
