force-app/main/default/flows/Invited_Abstract_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Abstract_Values</name>
        <label>Assign Abstract Values</label>
        <locationX>263</locationX>
        <locationY>1054</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecord.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lecture.Event_custom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvitedAbstractRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lecture.Session__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lecture_Presentation.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Abstract_Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lecture_Presentation.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Late_Breaking_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetLateBreakingCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Abstract_Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lecture_Presentation.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Abstract_Values_0</name>
        <label>Assign Abstract Values</label>
        <locationX>268</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecord.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Error_Message</name>
        <label>Enable Error Message</label>
        <locationX>19</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>ShowTypeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enable_Error_Message_0</name>
        <label>Enable Error Message</label>
        <locationX>164</locationX>
        <locationY>2167</locationY>
        <assignmentItems>
            <assignToReference>ShowTypeErrorReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OnsiteoralChoice</name>
        <choiceText>Onsite oral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onsite oral</stringValue>
        </value>
    </choices>
    <choices>
        <name>TypeDefaultChoice</name>
        <choiceText>{!SetTypeDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetTypeDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Typeonsite</name>
        <choiceText>Virtual oral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Virtual oral</stringValue>
        </value>
    </choices>
    <constants>
        <name>InvitedAbstractRecordId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120E000001fKtLQAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Author_Found</name>
        <label>Author Found?</label>
        <locationX>261</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Author</defaultConnectorLabel>
        <rules>
            <name>Assign_Author_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookupAuthor.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Author</targetReference>
            </connector>
            <label>Assign Author</label>
        </rules>
        <rules>
            <name>Create_Author_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAuthorEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LookupAuthor.recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Create Author</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submission_Possible</name>
        <label>Submission Possible</label>
        <locationX>250</locationX>
        <locationY>555</locationY>
        <defaultConnector>
            <targetReference>Already_Submitted_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Previous Submission</defaultConnectorLabel>
        <rules>
            <name>Eligible_and_no_previous_submission</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lecture.Abstract__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lecture_Presentation.Eligible_for_Invited_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Abstract_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Submissions Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Abstract_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invited Submission Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Event.Abstract_Submission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Breaking Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Abstract_Screen</targetReference>
            </connector>
            <label>Eligible and no previous submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_Abstract</name>
        <label>Submit Abstract</label>
        <locationX>251</locationX>
        <locationY>2751</locationY>
        <defaultConnector>
            <targetReference>DraftSuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Draft</defaultConnectorLabel>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Abstract</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Input</name>
        <label>Valid Input?</label>
        <locationX>254</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Assign_Abstract_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select a type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Error_Message</targetReference>
            </connector>
            <label>Type Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Input_0</name>
        <label>Valid Input?</label>
        <locationX>259</locationX>
        <locationY>2293</locationY>
        <defaultConnector>
            <targetReference>Assign_Abstract_Values_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Not_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Select a type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enable_Error_Message_0</targetReference>
            </connector>
            <label>Type Not Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Abstract__c.00N0E000007uHfg</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetTypeDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Image1Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload1.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image1Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload1.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image2Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload2.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image2Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload2.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image3Id</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload3.contentDocIds},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image3Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload3.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>SetLateBreakingCheckbox</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!Get_Event.Abstract_Submission__c}, &quot;Late Breaking Submission&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetTypeDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!AbstractRecord.Type__c}), &quot;Select a type&quot;)</expression>
    </formulas>
    <formulas>
        <name>WordCountBody</name>
        <dataType>Number</dataType>
        <expression>(LEN(Trim({!Body}))-LEN(SUBSTITUTE( Trim({!Body}) ,&quot; &quot;,&quot;&quot;)))+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Invited Abstract Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invited Abstract Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Author</name>
        <label>Add Author</label>
        <locationX>153</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Fill_Abstract_Screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Abstract_Author__c</field>
            <value>
                <elementReference>LookupAuthor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Abstract__c</field>
            <value>
                <elementReference>AbstractRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Abstract</name>
        <label>Create Abstract</label>
        <locationX>266</locationX>
        <locationY>1204</locationY>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
        <inputReference>AbstractRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>260</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submission_Possible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lecture.Event_custom__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Abstract_Submission__c</queriedFields>
        <queriedFields>Invited_Abstract_Submission_Deadline__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lecture</name>
        <label>Get Lecture</label>
        <locationX>258</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lecture_Presentation.Lecture__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lecture__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event_custom__c</queriedFields>
        <queriedFields>Session__c</queriedFields>
        <queriedFields>Lecture_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Lecture_Title__c</queriedFields>
        <queriedFields>Abstract__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lecture_Presentation</name>
        <label>Get Lecture Presentation</label>
        <locationX>259</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lecture</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Lecture__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Abstract</name>
        <label>Update Abstract</label>
        <locationX>383</locationX>
        <locationY>2856</locationY>
        <connector>
            <targetReference>SubmitSuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAbstract</name>
        <label>UpdateAbstract</label>
        <locationX>266</locationX>
        <locationY>1610</locationY>
        <connector>
            <targetReference>Add_Authors_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Caption__c</field>
            <value>
                <elementReference>Image_1_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1_ID__c</field>
            <value>
                <elementReference>Image1Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1__c</field>
            <value>
                <elementReference>Image1Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Caption__c</field>
            <value>
                <elementReference>Image_2_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_ID__c</field>
            <value>
                <elementReference>Image2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2__c</field>
            <value>
                <elementReference>Image2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Caption__c</field>
            <value>
                <elementReference>Image_3_Caption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_ID__c</field>
            <value>
                <elementReference>Image3Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3__c</field>
            <value>
                <elementReference>Image3Name</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Authors_Screen</name>
        <label>Add Authors Screen</label>
        <locationX>267</locationX>
        <locationY>1747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Author_Found</targetReference>
        </connector>
        <fields>
            <name>CreatedAbstractSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Please add at least one author to your abstract.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Do not add more than 25 authors.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupAuthor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Abstract_Author__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Authors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Abstract_Author__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AuthorNotFoundDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;If you cannot find the author&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; in the search, please create a new author by entering the email here:&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewAuthorEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Author Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>authorname@example.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Already_Submitted_Screen</name>
        <label>Already Submitted Screen</label>
        <locationX>36</locationX>
        <locationY>550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadySubmittedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;An abstract has already been submitted for this Lecture.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please check your abstract submissions in the community.  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lecture.Abstract__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotEligibleText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Sorry, you are not eligible to submit an invited abstract. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lecture_Presentation.Eligible_for_Invited_Submission__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubmissionClosedText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;The submission window is closed. You cannot submit an abstract anymore. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Event.Abstract_Submission__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Closed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Event.Abstract_Submission__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Public Submission Open</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DraftSuccessScreen</name>
        <label>DraftSuccessScreen</label>
        <locationX>135</locationX>
        <locationY>2877</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DraftSuccessText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Your draft has been saved!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;All abstracts drafts can be seen and edited in the community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen</name>
        <label>Fill Abstract Screen</label>
        <locationX>262</locationX>
        <locationY>739</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valid_Input</targetReference>
        </connector>
        <fields>
            <name>InvitedSubmissionIntroText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You are completing a submission for an abstract for your lecture: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Get_Lecture.Lecture_Title__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If this is not the correct lecture, please contact EAN staff.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Typeonsite</choiceReferences>
            <choiceReferences>OnsiteoralChoice</choiceReferences>
            <choiceReferences>TypeDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TypeDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeErrorText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowTypeError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body</name>
            <defaultValue>
                <stringValue>{!Body}</stringValue>
            </defaultValue>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter less than 250 words.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!WordCountBody}&lt;=250</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Disclosure</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Disclosure</elementReference>
            </defaultValue>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen_0</name>
        <label>Review Abstract Screen</label>
        <locationX>267</locationX>
        <locationY>2090</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Valid_Input_0</targetReference>
        </connector>
        <fields>
            <name>Type_0</name>
            <choiceReferences>Typeonsite</choiceReferences>
            <choiceReferences>OnsiteoralChoice</choiceReferences>
            <choiceReferences>TypeDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TypeDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypeErrorText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field is required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowTypeErrorReview</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Title_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Title</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body_0</name>
            <defaultValue>
                <stringValue>{!Body}</stringValue>
            </defaultValue>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please enter less than 250 words.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!WordCountBody}&lt;=250</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Disclosure_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Disclosure</elementReference>
            </defaultValue>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Abstract_Screen</name>
        <label>Review Abstract Screen</label>
        <locationX>583</locationX>
        <locationY>1992</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AbstractSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;i&gt;Please review your submission:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Abstract Title:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Body ({!WordCountBody} words):&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Body}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Disclosure: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Disclosure}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;Click Next to confirm and continue.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Files_Screen</name>
        <label>Review Files Screen</label>
        <locationX>266</locationX>
        <locationY>1477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateAbstract</targetReference>
        </connector>
        <fields>
            <name>NoFilesAddedText</name>
            <fieldText>&lt;p&gt;You have not added any images to your abstract.&lt;/p&gt;&lt;p&gt;Click &lt;i&gt;Previous&lt;/i&gt; to add images.&lt;/p&gt;&lt;p&gt;Click &lt;i&gt;Next&lt;/i&gt; to continue. You can also add images later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuccessTextFiles</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Following files have been added to your abstract:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAddedSuccessMessage_1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿{!Image_1_Caption}:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewImage1</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Image1Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image1Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAddedSuccessMessage_2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿{!Image_2_Caption}:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewImage2</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Image2Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image2Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FileAddedSuccessMessage_3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿{!Image_3_Caption}:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ViewImage3</name>
            <extensionName>vfv:FileViewer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>Image3Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Image3Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue/>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Screen</name>
        <label>Submit Screen</label>
        <locationX>259</locationX>
        <locationY>2627</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Abstract</targetReference>
        </connector>
        <fields>
            <name>SubmitToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to submit this abstract now?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to submit my abstract now</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to save this draft and submit it later</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmitSuccessScreen</name>
        <label>SubmitSuccessScreen</label>
        <locationX>383</locationX>
        <locationY>3003</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmitSuccessTxt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you for your abstract submission!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You can see the status of your submitted abstract in the community.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_Screen</name>
        <label>Upload Files Screen</label>
        <locationX>266</locationX>
        <locationY>1345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Review_Files_Screen</targetReference>
        </connector>
        <fields>
            <name>AbstractCreatesSuccessText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A draft of your abstract has been successfully created!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;If you need to make changes to your abstract, you can do this later as well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Now, please add files and captions to your abstract.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_1_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Image_1_Caption</elementReference>
            </defaultValue>
            <fieldText>1. Add caption to first image</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_2_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Image_2_Caption</elementReference>
            </defaultValue>
            <fieldText>2. Add caption to second image</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>3. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_3_Caption</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Image_3_Caption</elementReference>
            </defaultValue>
            <fieldText>3. Add caption to third Image</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConfirmText2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt;Click &lt;/i&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;i&gt;Next&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;font-size: 14px;&quot;&gt; to see which files you have uploaded.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>133</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lecture_Presentation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbstractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract__c</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAuthorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowTypeError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowTypeErrorReview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
