force-app/main/default/flows/Invited_Abstract_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Abstract_Values</name>
        <label>Assign Abstract Values</label>
        <locationX>460</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecord.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bursary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session.Event_custom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session_Id.Presenter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvitedAbstractRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Session__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session_Id.Session__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Topics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicSelection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Tournament__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Author</name>
        <label>Reset Author</label>
        <locationX>999</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>LookupAuthor.recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAuthorEmail.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Author_Found</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>InvitedAbstractRecordId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120E000001fKtLQAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Another_Author</name>
        <label>Add Another Author</label>
        <locationX>1227</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Submit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>Add_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAnotherAuthorToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Author</targetReference>
            </connector>
            <label>Add Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>Author_Found</name>
        <label>Author Found</label>
        <locationX>927</locationX>
        <locationY>177</locationY>
        <defaultConnector>
            <targetReference>Create_Author</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Author</defaultConnectorLabel>
        <rules>
            <name>Assign_Author</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookupAuthor.recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Author</targetReference>
            </connector>
            <label>Assign Author</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_Abstract</name>
        <label>Submit Abstract</label>
        <locationX>1525</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>DraftSuccessScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Draft</defaultConnectorLabel>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Abstract</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TopicsChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topics__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Invited Abstract Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invited Abstract Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Author</name>
        <label>Add Author</label>
        <locationX>1106</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Add_Another_Author_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Abstract__c</field>
            <value>
                <elementReference>AbstractRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Author__c</field>
            <value>
                <elementReference>LookupAuthor.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_New_Author</name>
        <label>Add New Author</label>
        <locationX>1118</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Add_Another_Author_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Abstract__c</field>
            <value>
                <elementReference>AbstractRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Author__c</field>
            <value>
                <elementReference>NewAuthorId</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Abstract</name>
        <label>Create Abstract</label>
        <locationX>609</locationX>
        <locationY>330</locationY>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
        <inputReference>AbstractRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Author</name>
        <label>Create Author</label>
        <locationX>943</locationX>
        <locationY>384</locationY>
        <assignRecordIdToReference>NewAuthorId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_New_Author</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewAuthorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Author_Email__c</field>
            <value>
                <elementReference>NewAuthorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Author__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>176</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_Abstract_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Session_Id.Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event_custom__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Session_Start__c</queriedFields>
        <queriedFields>Session_Title__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Id</name>
        <label>Get Session Id</label>
        <locationX>177</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Session</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session_Speaker__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Session__c</queriedFields>
        <queriedFields>Presenter__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Abstract</name>
        <label>Update Abstract</label>
        <locationX>1674</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>SubmitSuccessScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Another_Author_Screen</name>
        <label>Add Another Author Screen</label>
        <locationX>1242</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Another_Author</targetReference>
        </connector>
        <fields>
            <name>CreateAbstractAuthorSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The author was successfully added to this abstract!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddAnotherAuthorToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does the abstract have another author?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to add more authors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I am done</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Authors_Screen</name>
        <label>Add Authors Screen</label>
        <locationX>782</locationX>
        <locationY>193</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Author_Found</targetReference>
        </connector>
        <fields>
            <name>CreatedAbstractSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A draft of your abstract has been successfully created!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Following images have been added:&lt;/p&gt;&lt;p&gt;{!FileUpload1.fileNames}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FileUpload2.fileNames}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!FileUpload3.fileNames}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;You can still make changes to this draft later.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Now, please add at least one author to your abstract.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You also have the option to add more authors later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupAuthor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Author__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Authors by Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Abstract_Author__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AuthorNotFoundDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;If you cannot find the author&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; in the search, please create a new author by entering the email here:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewAuthorEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Author Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DraftSuccessScreen</name>
        <label>DraftSuccessScreen</label>
        <locationX>1532</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DraftSuccessText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Your draft has been saved!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;All abstracts drafts can be seen and edited in the community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen</name>
        <label>Fill Abstract Screen</label>
        <locationX>336</locationX>
        <locationY>331</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Abstract_Values</targetReference>
        </connector>
        <fields>
            <name>InvitedSubmissionIntroText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You are completing a submission for an abstract for your lecture at following session: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!Get_Session.Session_Title__c}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If this is not the correct session, please contact EAN staff.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>TypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bursary</name>
            <dataType>Boolean</dataType>
            <fieldText>Bursary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tournament</name>
            <dataType>Boolean</dataType>
            <fieldText>Tournament</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body</name>
            <fieldText>Body</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TopicSelection</name>
            <choiceReferences>TopicsChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topics</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConfirmationDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;It is required to confirm the authors consent, originality and copyright of the abstract before submitting it.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;By checking following boxes, ...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorConsentCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I have the consent of the authors to submit this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!AuthorConsentCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OriginalityCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the originality of this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OriginalityCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CopyrightCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I hold the copyright for this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CopyrightCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Screen</name>
        <label>Submit Screen</label>
        <locationX>1388</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_Abstract</targetReference>
        </connector>
        <fields>
            <name>SubmitToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to submit this abstract now?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to submit my abstract now</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to save this draft and submit it later</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmitSuccessScreen</name>
        <label>SubmitSuccessScreen</label>
        <locationX>1678</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmitSuccessTxt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you for your abstract submission!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You can see the status of your submitted abstract in the community.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_Screen</name>
        <label>Upload Files Screen</label>
        <locationX>607</locationX>
        <locationY>194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Authors_Screen</targetReference>
        </connector>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Introduction: Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Body: Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Body: Upload Image 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Session_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbstractRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract__c</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAuthorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
