force-app/main/default/flows/MembershipRenewalPaymentReceived.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Apps_To_Status_Approved</name>
        <label>Update Apps To Status Approved</label>
        <locationX>539</locationX>
        <locationY>520</locationY>
        <actionName>MembershipRenewalController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Membership_Status</targetReference>
        </connector>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>Get_Application_Form_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Is_Form_Exist</name>
        <label>Is Form Exist</label>
        <locationX>757</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>Form Not Exist</defaultConnectorLabel>
        <rules>
            <name>AppFormExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Form_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_A_Student</targetReference>
            </connector>
            <label>AppFormExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Renewal_Form</name>
        <label>Is Renewal Form</label>
        <locationX>532</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RenewalAppForm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Application_Form_Record.Renewal_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Apps_To_Status_Approved</targetReference>
            </connector>
            <label>RenewalAppForm</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRenewalWithContact</name>
        <label>IsRenewalWithContact</label>
        <locationX>423</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>NotRenewal</defaultConnectorLabel>
        <rules>
            <name>IsRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Form_Record</targetReference>
            </connector>
            <label>IsRenewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_A_Student</name>
        <label>Order Total Not 0 (Not Student)</label>
        <locationX>758</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Student</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Application_Form_Record.Membership__r.API__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>student_membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Renewal_Form</targetReference>
            </connector>
            <label>Order Total Not Zero</label>
        </rules>
    </decisions>
    <interviewLabel>Membership Renewal Payment Recei {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Renewal Payment Received Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Membership_Status</name>
        <label>New Membership Status</label>
        <locationX>761</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Application_form__c</field>
            <value>
                <elementReference>Get_Application_Form_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_date__c</field>
            <value>
                <elementReference>Get_Application_Form_Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_date__c</field>
            <value>
                <elementReference>Get_Application_Form_Record.Renewal_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_Application_Form_Record.Membership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <elementReference>Get_Application_Form_Record.Role_in_department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Application_Form_Record.Renewal_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>MembershipContactAssotiation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Application_Form_Record</name>
        <label>Get Application Form Record</label>
        <locationX>628</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Form_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsRenewalWithContact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
