force-app/main/default/flows/Public_Abstract_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignAbstractValues</name>
        <label>AssignAbstractValues</label>
        <locationX>628</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conclusion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Introduction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Methods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Results__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bursary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Tournament_Basic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament_Basic</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Tournament_Clinical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament_Clinical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Disclosure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disclosure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Topics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topics</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Abstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAuthor</name>
        <label>AssignAuthor</label>
        <locationX>1509</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupAuthor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Abstract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstractAuthor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewAuthor</name>
        <label>AssignNewAuthor</label>
        <locationX>1509</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAuthorID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Abstract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstractAuthor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPresenter</name>
        <label>AssignNewPresenter</label>
        <locationX>952</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Presenter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPresenter</name>
        <label>AssignPresenter</label>
        <locationX>948</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PresenterLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Author</name>
        <label>Reset Author</label>
        <locationX>1608</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>LookupAuthor.recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAuthorEmail.value</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Authors_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ImageLocationDefaultChoice</name>
        <choiceText>No section selected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Location Selected</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddAnotherAuthorDecision</name>
        <label>AddAnotherAuthorDecision</label>
        <locationX>1809</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Submit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AddAnother</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAnotherAuthorToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Author</targetReference>
            </connector>
            <label>AddAnother</label>
        </rules>
    </decisions>
    <decisions>
        <name>Author_Found</name>
        <label>Author Found?</label>
        <locationX>1433</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Submit_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Author</defaultConnectorLabel>
        <rules>
            <name>Assign_Author_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookupAuthor.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignAuthor</targetReference>
            </connector>
            <label>Assign Author</label>
        </rules>
        <rules>
            <name>Create_Author_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAuthorEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LookupAuthor.recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateAuthor</targetReference>
            </connector>
            <label>Create Author</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSubmissionDeadline</name>
        <label>CheckSubmissionDeadline</label>
        <locationX>378</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Select_Event_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deadline Passed</defaultConnectorLabel>
        <rules>
            <name>Deadline_Not_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetEvent.Abstract_Submission_Deadline__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Abstract_Screen</targetReference>
            </connector>
            <label>Deadline Not Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PresenterFound</name>
        <label>PresenterFound</label>
        <locationX>880</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>CreateAbstract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Presenter</defaultConnectorLabel>
        <rules>
            <name>Assign_Presenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresenterLookup.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignPresenter</targetReference>
            </connector>
            <label>Assign Presenter</label>
        </rules>
        <rules>
            <name>Create_Presenter_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresenterLookup.recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>NewPresenterEmail.value</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Presenter</targetReference>
            </connector>
            <label>Create Presenter</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubmitAbstractDecision</name>
        <label>SubmitAbstractDecision</label>
        <locationX>2045</locationX>
        <locationY>201</locationY>
        <defaultConnector>
            <targetReference>DraftSuccessMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Draft</defaultConnectorLabel>
        <rules>
            <name>Ready_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubmitToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubmitAbstract</targetReference>
            </connector>
            <label>Ready to Submit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AbstractTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123Y000000MjVbQAK</stringValue>
            </value>
        </filters>
        <object>Event__c</object>
        <outputAssignments>
            <assignToReference>SelectedEvent</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageLocationPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_1_Location__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SessionChoice</name>
        <dataType>String</dataType>
        <displayField>Session_Title__c</displayField>
        <filters>
            <field>Event_custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedEvent</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <valueField>Session_Title__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topics__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Image1Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload1.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image2Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload2.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>Image3Name</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!FileUpload3.fileNames},&apos;[&apos;,&apos;&apos;),&apos;]&apos;,&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Public Abstract Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Public Abstract Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Presenter</name>
        <label>Create Presenter</label>
        <locationX>814</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>AssignNewPresenter</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewPresenterEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Presenter_Email__c</field>
            <value>
                <elementReference>NewPresenterEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Presenter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAbstract</name>
        <label>CreateAbstract</label>
        <locationX>1093</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>Upload_Files_Screen</targetReference>
        </connector>
        <inputReference>AbstractRecordVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAbstractAuthor</name>
        <label>CreateAbstractAuthor</label>
        <locationX>1662</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Add_Another_Author_Screen</targetReference>
        </connector>
        <inputReference>AbstractAuthor</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAuthor</name>
        <label>CreateAuthor</label>
        <locationX>1402</locationX>
        <locationY>548</locationY>
        <assignRecordIdToReference>NewAuthorID</assignRecordIdToReference>
        <connector>
            <targetReference>AssignNewAuthor</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewAuthorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Author_Email__c</field>
            <value>
                <elementReference>NewAuthorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Author__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetEvent</name>
        <label>GetEvent</label>
        <locationX>391</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSubmissionDeadline</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Event</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Abstract_Submission_Deadline__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SubmitAbstract</name>
        <label>SubmitAbstract</label>
        <locationX>2107</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>SubmissionSuccessScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAbstract</name>
        <label>UpdateAbstract</label>
        <locationX>1248</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Add_Authors_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Image_1_Location__c</field>
            <value>
                <elementReference>Image_1_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_1__c</field>
            <value>
                <elementReference>Image1Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2_Location__c</field>
            <value>
                <elementReference>Image_2_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_2__c</field>
            <value>
                <elementReference>Image2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3_Location__c</field>
            <value>
                <elementReference>Image_3_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_3__c</field>
            <value>
                <elementReference>Image3Name</elementReference>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Another_Author_Screen</name>
        <label>Add Another Author Screen</label>
        <locationX>1818</locationX>
        <locationY>411</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddAnotherAuthorDecision</targetReference>
        </connector>
        <fields>
            <name>CreateAbstractAuthorSuccessMessage</name>
            <fieldText>&lt;p&gt;The author was successfully added to this abstract.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddAnotherAuthorToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does the abstract have another author?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to add more authors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I am done</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Authors_Screen</name>
        <label>Add Authors Screen</label>
        <locationX>1336</locationX>
        <locationY>353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Author_Found</targetReference>
        </connector>
        <fields>
            <name>CreateAbstractSuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;A draft of your abstract has been successfully created!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If you need to make changes to your abstract, you can do this later as well.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Following files have been addd to your abstract:&lt;/p&gt;&lt;p&gt;{!Image_1_Location}: {!Image1Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Image_2_Location}: {!Image2Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Image_3_Location}: {!Image3Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Now, please add at least one author to your abstract.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please do not add more than 25 authors.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupAuthor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Author__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Authors by Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Abstract_Author__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AuthorNotFoundDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;i&gt;﻿If you cannot find the author &lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;in the search, please create a new author by entering the email here:&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewAuthorEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Author Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>authorname@example.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Presenter_Screen</name>
        <label>Add Presenter Screen</label>
        <locationX>754</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PresenterFound</targetReference>
        </connector>
        <fields>
            <name>PresenterLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Presenter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Presenter by Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Abstract__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PresenterNotFoundDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;If you cannot find the presenter &lt;/i&gt;&lt;/b&gt;&lt;i&gt;in the search, please create a new presenter by entering the email here:&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PresenterLookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewPresenterEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PresenterLookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DraftSuccessMessage</name>
        <label>DraftSuccessMessage</label>
        <locationX>2186</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DraftSuccessDisplay</name>
            <fieldText>&lt;p&gt;Your draft has been saved.&lt;/p&gt;&lt;p&gt;All abstracts drafts can be seen and edited in the community.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please remember to submit your abstract before the deadline {!GetEvent.Abstract_Submission_Deadline__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen</name>
        <label>Fill Abstract Screen</label>
        <locationX>509</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignAbstractValues</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>AbstractTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tournament_Basic</name>
            <dataType>Boolean</dataType>
            <fieldText>I wish to participate in the Tournament Basic</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;It is only possible to particiate in one tournament.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Tournament_Basic}=true &amp;&amp; {!Tournament_Clinical}=true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Virtual oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Onsite oral</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tournament_Clinical</name>
            <dataType>Boolean</dataType>
            <fieldText>I wish to participate in the Tournament Clinical</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;It is only possible to particiate in one tournament.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT({!Tournament_Clinical}=true &amp;&amp; {!Tournament_Basic}=true)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Onsite oral</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Virtual oral</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bursary</name>
            <dataType>Boolean</dataType>
            <fieldText>I wish to apply for a bursary for the EAN Congress</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbstractRecordVariable.Title__c</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter less than 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=120</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Introduction</name>
            <defaultValue>
                <stringValue>{!AbstractRecordVariable.Introduction__c}</stringValue>
            </defaultValue>
            <fieldText>Introduction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Methods</name>
            <defaultValue>
                <stringValue>{!AbstractRecordVariable.Methods__c}</stringValue>
            </defaultValue>
            <fieldText>Methods</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Results</name>
            <defaultValue>
                <stringValue>{!AbstractRecordVariable.Results__c}</stringValue>
            </defaultValue>
            <fieldText>Results</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Conclusion</name>
            <defaultValue>
                <stringValue>{!Conclusion}</stringValue>
            </defaultValue>
            <fieldText>Conclusion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Disclosure</name>
            <dataType>String</dataType>
            <fieldText>Disclosure</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topics</name>
            <choiceReferences>TopicChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topics</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(0, 0, 0);&quot;&gt;It is required to confirm the authors consent, originality and copyright of the abstract before submitting it.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;By checking following boxes, ...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorConsentCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I have the consent of the authors to submit this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!AuthorConsentCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OriginalityCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the originality of this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OriginalityCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CopyrightCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I hold the copyright for this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CopyrightCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Abstract</name>
        <label>Review Abstract</label>
        <locationX>636</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Presenter_Screen</targetReference>
        </connector>
        <fields>
            <name>AbstractSummary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;i&gt;Please review your submission:&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Abstract Type:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Type}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Abstract Title:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Title}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Introduction: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Introduction}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Methods: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Methods}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Results: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Results}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Conclusion: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Conclusion}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Disclosure: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Disclosure}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AbstractTopic</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Topics:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Topics}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TournamentBasicConfirmation</name>
            <fieldText>&lt;p&gt;You are participating in the Tournament Basic.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tournament_Basic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TournamentClinicalConfirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You are participating in the Tournament Clinical.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tournament_Clinical</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BursaryConfirmation</name>
            <fieldText>&lt;p&gt;You are applying for a bursary for the EAN Congress&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Bursary</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfirmText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;Click Next to confirm and continue.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Event_Screen</name>
        <label>Select Event Screen</label>
        <locationX>186</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetEvent</targetReference>
        </connector>
        <fields>
            <name>Select_Event</name>
            <choiceReferences>EventChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Event</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SubmissionSuccessScreen</name>
        <label>SubmissionSuccessScreen</label>
        <locationX>2187</locationX>
        <locationY>354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SubmissionSuccessDisplay</name>
            <fieldText>&lt;p&gt;Thank you for your abstract submission!&lt;/p&gt;&lt;p&gt;You can see the status of your submitted abstract in the community.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Screen</name>
        <label>Submit Screen</label>
        <locationX>1974</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SubmitAbstractDecision</targetReference>
        </connector>
        <fields>
            <name>FileUploadSuccessDisplay</name>
            <fieldText>&lt;p&gt;Following files have been added:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!UploadedFiles}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UploadedFiles</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SubmitToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to submit this abstract now?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to submit my abstract now</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to save this draft and submit it later</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_Screen</name>
        <label>Upload Files Screen</label>
        <locationX>1151</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAbstract</targetReference>
        </connector>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>1. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_1_Location</name>
            <choiceReferences>ImageLocationPicklistChoice</choiceReferences>
            <choiceReferences>ImageLocationDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ImageLocationDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>1. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>2. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_2_Location</name>
            <choiceReferences>ImageLocationPicklistChoice</choiceReferences>
            <choiceReferences>ImageLocationDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ImageLocationDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>2. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>3. Upload Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIDs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_3_Location</name>
            <choiceReferences>ImageLocationPicklistChoice</choiceReferences>
            <choiceReferences>ImageLocationDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ImageLocationDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>3. Add image to section:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmText2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Click &lt;/i&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;i&gt;Next&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt; to see which files you have uploaded.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Select_Event_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AbstractAuthor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractAuthorCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract__c</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAuthorID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
