force-app/main/default/flows/Public_Abstract_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignAbstractValues</name>
        <label>AssignAbstractValues</label>
        <locationX>495</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Conclusion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conclusion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Introduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Introduction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Methods</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Results__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Results</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Bursary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Boursary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Tournament__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tournament</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Authors_consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AuthorConsentCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Originality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginalityCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Copyright__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CopyrightCheckbox</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Presenter_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAuthor</name>
        <label>AssignAuthor</label>
        <locationX>1188</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupAuthor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Abstract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstractAuthor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewAuthor</name>
        <label>AssignNewAuthor</label>
        <locationX>1183</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateAuthor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AbstractRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstractAuthor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignNewPresenter</name>
        <label>AssignNewPresenter</label>
        <locationX>810</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Presenter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPresenter</name>
        <label>AssignPresenter</label>
        <locationX>802</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>AbstractRecordVariable.Presenter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PresenterLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAbstract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Author</name>
        <label>Reset Author</label>
        <locationX>1488</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>LookupAuthor.recordId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AbstractAuthor.Author__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Another_Author_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddAnotherAuthorDecision</name>
        <label>AddAnotherAuthorDecision</label>
        <locationX>1535</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Upload_Files_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AddAnother</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddAnotherAuthorToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Authors_Screen</targetReference>
            </connector>
            <label>AddAnother</label>
        </rules>
    </decisions>
    <decisions>
        <name>AuthorFound</name>
        <label>AuthorFound</label>
        <locationX>1053</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>CreateAuthor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CreateAuthor</defaultConnectorLabel>
        <rules>
            <name>AssignAbstractAuthor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LookupAuthor.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignAuthor</targetReference>
            </connector>
            <label>AssignAbstractAuthor</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSubmissionDeadline</name>
        <label>CheckSubmissionDeadline</label>
        <locationX>293</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Select_Event_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deadline Passed</defaultConnectorLabel>
        <rules>
            <name>Deadline_Not_Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetEvent.Abstract_Submission_Deadline__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Abstract_Screen</targetReference>
            </connector>
            <label>Deadline Not Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PresenterFound</name>
        <label>PresenterFound</label>
        <locationX>567</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Create_Presenter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create Presenter</defaultConnectorLabel>
        <rules>
            <name>Assign_Presenter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PresenterLookup.recordId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignPresenter</targetReference>
            </connector>
            <label>Assign Presenter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AbstractTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123Y000000MjVbQAK</stringValue>
            </value>
        </filters>
        <object>Event__c</object>
        <outputAssignments>
            <assignToReference>SelectedEvent</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SessionChoice</name>
        <dataType>String</dataType>
        <displayField>Session_Title__c</displayField>
        <filters>
            <field>Event_custom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedEvent</elementReference>
            </value>
        </filters>
        <object>Session__c</object>
        <valueField>Session_Title__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topics__c</picklistField>
        <picklistObject>Abstract__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Public Abstract Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Public Abstract Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Presenter</name>
        <label>Create Presenter</label>
        <locationX>688</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>AssignNewPresenter</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewPresenterEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Presenter_Email__c</field>
            <value>
                <elementReference>NewPresenterEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Presenter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateAbstract</name>
        <label>CreateAbstract</label>
        <locationX>929</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Add_Authors_Screen</targetReference>
        </connector>
        <inputReference>AbstractRecordVariable</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAbstractAuthor</name>
        <label>CreateAbstractAuthor</label>
        <locationX>1346</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>Reset_Author</targetReference>
        </connector>
        <inputReference>AbstractAuthor</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAuthor</name>
        <label>CreateAuthor</label>
        <locationX>1051</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>AssignNewAuthor</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewAuthorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Author_Email__c</field>
            <value>
                <elementReference>NewAuthorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetEvent</name>
        <label>GetEvent</label>
        <locationX>296</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSubmissionDeadline</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Event</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Abstract_Submission_Deadline__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Add_Another_Author_Screen</name>
        <label>Add Another Author Screen</label>
        <locationX>1483</locationX>
        <locationY>340</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddAnotherAuthorDecision</targetReference>
        </connector>
        <fields>
            <name>AddAnotherAuthorToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Does the abstract have another author?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to add more authors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I am done</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Authors_Screen</name>
        <label>Add Authors Screen</label>
        <locationX>926</locationX>
        <locationY>351</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AuthorFound</targetReference>
        </connector>
        <fields>
            <name>CreateAbstractSuccessMessage</name>
            <fieldText>&lt;p&gt;A draft of your abstract has been successfully created!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Now, please add at least one author to your abstract.&lt;/p&gt;&lt;p&gt;You always have the option to add more authors later.&lt;/p&gt;&lt;p&gt;If you need to make changes to your abstract, you can do this later as well.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupAuthor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Author__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Authors</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Abstract_Author__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AuthorNotFoundDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If you cannot find the author in the search, please create a new author by entering the email here:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewAuthorEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Author Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LookupAuthor.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Presenter_Screen</name>
        <label>Add Presenter Screen</label>
        <locationX>571</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PresenterFound</targetReference>
        </connector>
        <fields>
            <name>PresenterLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Presenter__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Presenter by Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Abstract__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PresenterNotFoundDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you cannot find the presenter in the search, please create a new presenter by entering the email here:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PresenterLookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewPresenterEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PresenterLookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fill_Abstract_Screen</name>
        <label>Fill Abstract Screen</label>
        <locationX>432</locationX>
        <locationY>351</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignAbstractValues</targetReference>
        </connector>
        <fields>
            <name>Type</name>
            <choiceReferences>AbstractTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AbstractRecordVariable.Title__c</elementReference>
            </defaultValue>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please enter less than 120 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=120</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Introduction</name>
            <defaultValue>
                <stringValue>{!AbstractRecordVariable.Introduction__c}</stringValue>
            </defaultValue>
            <fieldText>Introduction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Methods</name>
            <defaultValue>
                <stringValue>{!AbstractRecordVariable.Methods__c}</stringValue>
            </defaultValue>
            <fieldText>Methods</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Results</name>
            <defaultValue>
                <stringValue>{!AbstractRecordVariable.Results__c}</stringValue>
            </defaultValue>
            <fieldText>Results</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Conclusion</name>
            <defaultValue>
                <stringValue>{!Conclusion}</stringValue>
            </defaultValue>
            <fieldText>Conclusion</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please no more than 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Introduction})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Topics</name>
            <choiceReferences>TopicChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topics</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tournament</name>
            <dataType>Boolean</dataType>
            <fieldText>Tournament</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Boursary</name>
            <dataType>Boolean</dataType>
            <fieldText>Boursary</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationDisplay</name>
            <fieldText>&lt;p&gt;It is required to confirm the authors consent, originality and copyright of the abstract before submitting it.&lt;/p&gt;&lt;p&gt;By checking following boxes, ...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorConsentCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I have the consent of the authors to submit this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!AuthorConsentCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OriginalityCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm the originality of this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!OriginalityCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>CopyrightCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm that I hold the copyright for this abstract</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This checkbox has to be selected.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!CopyrightCheckbox}=true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Event_Screen</name>
        <label>Select Event Screen</label>
        <locationX>164</locationX>
        <locationY>357</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetEvent</targetReference>
        </connector>
        <fields>
            <name>Select_Event</name>
            <choiceReferences>EventChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Event</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Files_Screen</name>
        <label>Upload Files Screen</label>
        <locationX>1693</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileUpload2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileUpload3</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AbstractRecordVariable.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg,.png,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFiles</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayUploadedFiles</name>
            <fieldText>&lt;p&gt;{!UploadedFiles}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Event_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AbstractAuthor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractAuthorCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract_Author__c</objectType>
    </variables>
    <variables>
        <name>AbstractRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Abstract__c</objectType>
    </variables>
    <variables>
        <name>SelectedEvent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
