force-app/main/default/flows/Reviewer_Sign_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <constants>
        <name>EventRcordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0123Y000000MjVbQAK</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckIfReviewerExists</name>
        <label>CheckIfReviewerExists</label>
        <locationX>660</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Confirm_Input_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Previous Submission</defaultConnectorLabel>
        <rules>
            <name>Reviewer_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingReviewers.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>GetExistingReviewers.Event__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ReviewerAlreadySubmittedScreen</targetReference>
            </connector>
            <label>Reviewer Exists</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CapacityChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Review_Capacity__c</picklistField>
        <picklistObject>Reviewer__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EventChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRcordTypeId</elementReference>
            </value>
        </filters>
        <object>Event__c</object>
        <outputAssignments>
            <assignToReference>SelectedEventId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicsChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topics__c</picklistField>
        <picklistObject>Reviewer__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrUserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Reviewer Sign Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reviewer Sign Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reviewer</name>
        <label>Create Reviewer</label>
        <locationX>672</locationX>
        <locationY>893</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Capacity__c</field>
            <value>
                <elementReference>Capacity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics__c</field>
            <value>
                <elementReference>Topics</elementReference>
            </value>
        </inputAssignments>
        <object>Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExistingReviewers</name>
        <label>GetExistingReviewers</label>
        <locationX>664</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfReviewerExists</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedEventId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Input_Screen</name>
        <label>Confirm Input Screen</label>
        <locationX>671</locationX>
        <locationY>733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Reviewer</targetReference>
        </connector>
        <fields>
            <name>InputSummaryText</name>
            <fieldText>&lt;p&gt;Please review your input:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Selected event: &lt;b&gt;{!Event}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Selected topics: &lt;b&gt;{!Topics}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Selected capacity: &lt;b&gt;{!Capacity}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;To confirm your input and and sign up as reviewer, click &lt;i&gt;Next. &lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reviewer_Sign_Up_Screen</name>
        <label>Reviewer Sign Up Screen</label>
        <locationX>669</locationX>
        <locationY>207</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetExistingReviewers</targetReference>
        </connector>
        <fields>
            <name>InstructionText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;To sign up as reviewer, please complete following information.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event</name>
            <choiceReferences>EventChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the event for which you want to review:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topics</name>
            <choiceReferences>TopicsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your review topics</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Capacity</name>
            <choiceReferences>CapacityChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your review capacity:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewerAlreadySubmittedScreen</name>
        <label>ReviewerAlreadySubmittedScreen</label>
        <locationX>915</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ReviewerAlreadySubmittedText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You have already signed up as a Reviewer for this event. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>672</locationX>
        <locationY>1041</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Thank you for signing up as Reviewer! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We will notify you of your review assignment, if suitable abstracts are submitted for your capacity and selection of topics. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Reviewer_Sign_Up_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>SelectedEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
