force-app/main/default/flows/SimpleTermsAndConditionsFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>DisplayValidationError</name>
        <label>DisplayValidationError</label>
        <locationX>322</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terms_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Curent_DateTime</name>
        <label>Set Curent DateTime</label>
        <locationX>891</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_User.Last_Accepted_Terms_Conditions_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Accepted_T_Cs_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Data</name>
        <label>Update Contact Data</label>
        <locationX>545</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>GetContact.Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Profession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Residency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_Residence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Prescriber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescriber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Topics_of_interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topic_Of_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Other_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Profession</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accepted</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CountryOfResidenceDefaultChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SetCountryOfResidenceDefaultChoice}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetCountryOfResidenceDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>OtherProfessionDefaultChoice</name>
        <choiceText>{!SetOtherProfessionDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetOtherProfessionDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrescriberDedaultChoice</name>
        <choiceText>{!SetPrescriberDedaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetPrescriberDedaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>ProfessionDefaultChoice</name>
        <choiceText>{!SetProfessionDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetProfessionDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>SalutationDefaultChoice</name>
        <choiceText>{!SetSalutationDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetSalutationDefaultChoice</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Accepted</name>
        <label>Field Validation</label>
        <locationX>537</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>DisplayValidationError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not valid</defaultConnectorLabel>
        <rules>
            <name>Terms_Accepted</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR (7 AND 8))</conditionLogic>
            <conditions>
                <leftValueReference>I_accept_terms_and_conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Salutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Salutation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Country_of_Residence</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Prescriber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a value</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select your Profession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profession</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Profession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Please specify your profession further</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terms_Conditions_Ever_Accepted</name>
        <label>Terms&amp;Conditions Ever Accepted?</label>
        <locationX>314</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>The_User_Accepted_T_Cs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted Before</defaultConnectorLabel>
        <rules>
            <name>Never_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Last_Accepted_Terms_Conditions_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Never Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>The_User_Accepted_T_Cs</name>
        <label>The User Accepted T&amp;Cs?</label>
        <locationX>876</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>Terms_Conditions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accepted</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Last_Accepted_Terms_Conditions_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Terms_Conditions_Settings.Last_Modified_Date__c</elementReference>
                </rightValue>
            </conditions>
            <label>Accept</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OtherProfessionRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC8Od</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetOtherProfessionDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrescriberPricklistRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC7eW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetPrescriberDedaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProfessionPicklistRecordChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000ABwSN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetProfessionDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyPicklist</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC7Rb</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetCountryOfResidenceDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationPicklistRecordChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.Salutation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetSalutationDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicsOfInterestPicklistRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC7eX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Topics_of_interest__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopictOfInterestPicklistChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topics_of_interest__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SetCountryOfResidenceDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Residency__c}) , &quot;Select a Country&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetOtherProfessionDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Other_Profession__c}) , &quot;Please specify your profession further&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetPrescriberDedaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Prescriber__c}) , &quot;Select a value&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetProfessionDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Profession__c}) , &quot;Select your Profession&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetSalutationDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Salutation}) , &quot;Select a Salutation&quot;)</expression>
    </formulas>
    <interviewLabel>SimpleTermsAndConditionsFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Simple Terms and Conditions Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>46</locationX>
        <locationY>327</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terms_Conditions_Ever_Accepted</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Accepted_Terms_Conditions_date__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Terms_Conditions_Settings</name>
        <label>Get Terms &amp; Conditions Settings</label>
        <locationX>53</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Terms_Conditions_Settings__mdt</object>
        <sortField>Last_Modified_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>540</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terms_Conditions</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>738</locationX>
        <locationY>656</locationY>
        <connector>
            <targetReference>Set_Curent_DateTime</targetReference>
        </connector>
        <inputReference>GetContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Accepted_T_Cs_date</name>
        <label>Update Last Accepted T&amp;Cs date</label>
        <locationX>1052</locationX>
        <locationY>657</locationY>
        <inputReference>Get_Current_User</inputReference>
    </recordUpdates>
    <screens>
        <name>Terms_Conditions</name>
        <label>Terms &amp; Conditions</label>
        <locationX>543</locationX>
        <locationY>339</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact_Data</targetReference>
        </connector>
        <fields>
            <name>Terms</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;EAN&apos;s Terms and Conditions&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please, complete all required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Salutation</name>
            <choiceReferences>SalutationPicklistRecordChoices</choiceReferences>
            <choiceReferences>SalutationDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SalutationDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Complete this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!First_Name}), False, True)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!Last_Name}), False, True)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Country_of_Residence</name>
            <choiceReferences>CountryOfResidenceDefaultChoice</choiceReferences>
            <choiceReferences>ResidencyPicklist</choiceReferences>
            <choiceReferences>ResidencyPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CountryOfResidenceDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Country of Residence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Profession</name>
            <choiceReferences>ProfessionDefaultChoice</choiceReferences>
            <choiceReferences>ProfessionPicklistRecordChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProfessionDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Profession</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Profession</name>
            <choiceReferences>OtherProfessionDefaultChoice</choiceReferences>
            <choiceReferences>OtherProfessionRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OtherProfessionDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Other Profession</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Profession</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prescriber</name>
            <choiceReferences>PrescriberDedaultChoice</choiceReferences>
            <choiceReferences>PrescriberPricklistRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PrescriberDedaultChoice</defaultSelectedChoiceReference>
            <fieldText>Prescriber</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topic_Of_Interest</name>
            <choiceReferences>TopictOfInterestPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topics of Interest (please select at least one)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;Please accept &lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot;&gt;EAN&apos;s Terms and Conditions&lt;/a&gt; to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept_terms_and_conditions</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept EAN&apos;s Terms and Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!I_accept_terms_and_conditions}, True, False)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terms_Conditions_0</name>
        <label>Terms &amp; Conditions</label>
        <locationX>888</locationX>
        <locationY>381</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Curent_DateTime</targetReference>
        </connector>
        <fields>
            <name>Terms_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;EAN&apos;s Terms And Conditions&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text1_0</name>
            <fieldText>&lt;p&gt;We have updated our &lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot;&gt;Terms and Conditions&lt;/a&gt;. Please accept them to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept_terms_and_conditions_0</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept EAN&apos;s Terms And Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!I_accept_terms_and_conditions_0}, True, False)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Get_Terms_Conditions_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
