force-app/main/default/flows/SimpleBasicCongressRegistration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Add_to_Virtual_Congress_2020_Group</name>
        <label>Add to Virtual Congress 2020 Group</label>
        <locationX>544</locationX>
        <locationY>702</locationY>
        <actionName>CollaborationGroup.NewGroupMember</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Congress_Registration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GroupErrorScreen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>MemberId</name>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue>0F93Y000000CrSdSAK</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DisplayValidationError</name>
        <label>DisplayValidationError</label>
        <locationX>310</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Register_for_Congress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Data</name>
        <label>Update Contact Data</label>
        <locationX>533</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>GetContact.Congress_Live_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckCongressLiveAccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickSalutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Hospital_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hospital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Department_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CountryDefaultChoice</name>
        <choiceText>{!SetCountryDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetCountryDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>SalutationDefaultChoice</name>
        <choiceText>{!SetSalutationDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetSalutationDefaultChoice</elementReference>
        </value>
    </choices>
    <constants>
        <name>CongressID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1M3Y000006AJhrUAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Field_Validation</name>
        <label>Field Validation</label>
        <locationX>369</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>DisplayValidationError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>FieldsCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PickSalutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Salutation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Official_Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvalidZip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Data</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Congress Registration Flow without personal info</description>
    <dynamicChoiceSets>
        <name>CountryPicklistchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact./00N3Y00000AC7Rb</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetCountryDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationPicklistRecordChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.Salutation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetSalutationDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>InvalidZip</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Official_Zip})&gt;=20,true,false)</expression>
    </formulas>
    <formulas>
        <name>SetCountryDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!GetContact.MailingCountry} , &quot;Select a Country&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetSalutationDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Salutation}) , &quot;Select a Salutation&quot;)</expression>
    </formulas>
    <formulas>
        <name>UserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>BasicCongressRegistration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Congress Summer Re-Opening Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Congress_Participation</name>
        <label>Create Congress Participation</label>
        <locationX>526</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>Add_to_Virtual_Congress_2020_Group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateContactError_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Congress_Live_Access__c</field>
            <value>
                <elementReference>CheckCongressLiveAccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_custom__c</field>
            <value>
                <elementReference>CongressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123Y000000MjVnQAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Participant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>57</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Register_for_Congress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactIDFromUser</name>
        <label>GetContactIDFromUser</label>
        <locationX>50</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>539</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Create_Congress_Participation</targetReference>
        </connector>
        <inputReference>GetContact</inputReference>
    </recordUpdates>
    <screens>
        <name>Congress_Registration</name>
        <label>Congress Registration</label>
        <locationX>376</locationX>
        <locationY>711</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;You have successfully registered for the summer re-opening of the congress 2020!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddedToGroup</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Check out our &lt;/span&gt;&lt;a href=&quot;https://my.ean.org/s/group/0F93Y000000CrSdSAK/ean-virtual-congress&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;MyEAN Group for the Congress 2020&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; to meet other participants and get the most recent updates around the congress&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GroupErrorScreen</name>
        <label>Group Error Screen</label>
        <locationX>543</locationX>
        <locationY>875</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p&gt;You have successfully registered for the summer re-opening of the congress 2020!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddedToGroup_0</name>
            <fieldText>&lt;p&gt;Check out our &lt;a href=&quot;https://my.ean.org/s/group/0F93Y000000CrSdSAK/ean-virtual-congress&quot; target=&quot;_blank&quot;&gt;MyEAN Group for the Congress 2020&lt;/a&gt; to meet other participants and get the most recent updates around the congress&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Register_for_Congress</name>
        <label>Register for Congress</label>
        <locationX>253</locationX>
        <locationY>228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Field_Validation</targetReference>
        </connector>
        <fields>
            <name>IntroductionText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete following information to register for the summer re-opening of the 2020 Virtual Congress.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The EAN Congress is a medical event organised for health care professionals and researchers in the field of neurology. By registering to the EAN congress, I confirm that I am eligible to participate:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CheckCongressLiveAccess</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>I want to participate in the EAN Virtual Congress 2020</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;Complete this field if you want to register for the congress. &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!CheckCongressLiveAccess}, True, False)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OnDemanAccessText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;As an EAN individual Member you automatically have on demand access to the congress.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.Membership_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BecomeMemberText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;To get on-demand access to the sessions of the EAN Congress you need to be an EAN member.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please click &lt;/span&gt;&lt;a href=&quot;https://my.ean.org/s/membership-application&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt; to apply for EAN individual membership.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You can find information on all benefits for EAN individual members &lt;/span&gt;&lt;a href=&quot;https://www.ean.org//join/apply-now/membership-benefits-at-a-glance&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetContact.Membership_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PickSalutation</name>
            <choiceReferences>SalutationDefaultChoice</choiceReferences>
            <choiceReferences>SalutationPicklistRecordChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SalutationDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;Please complete all required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!First_Name}), False, True)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Complete this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!Last_Name}), False, True)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;In order to display the city and country on your certificate of attendance correctly, please complete your official address:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospital</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.Hospital_Name__c</elementReference>
            </defaultValue>
            <fieldText>Hospital</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Department</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.Department_Name__c</elementReference>
            </defaultValue>
            <fieldText>Department</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Official_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Official Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Official_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Official Zip/ Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ValidateZipMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;Please enter a zip code/ postal code with less than 20 characters.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidZip</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Official_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingCity</elementReference>
            </defaultValue>
            <fieldText>Official City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Official_Country</name>
            <choiceReferences>CountryDefaultChoice</choiceReferences>
            <choiceReferences>CountryPicklistchoice</choiceReferences>
            <choiceReferences>CountryRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Official Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateContactError_0</name>
        <label>UpdateContactError</label>
        <locationX>368</locationX>
        <locationY>537</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>&lt;p&gt;There was an error saving your personal information, please contact headoffice@ean.org&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>191</locationY>
        <connector>
            <targetReference>GetContactIDFromUser</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
