force-app/main/default/flows/Solo_registration_success.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EAN_Solo_regisration_success</name>
        <label>EAN: Solo regisration success</label>
        <locationX>730</locationX>
        <locationY>116</locationY>
        <actionName>Email_Activity__c.EAN_Solo_regisration_success</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Contact_has_Email_Email_activity</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Contact_email</name>
        <label>Contact email</label>
        <locationX>421</locationX>
        <locationY>131</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_has_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_has_Email_Email_activity</targetReference>
            </connector>
            <label>Contact has email</label>
        </rules>
        <rules>
            <name>Contact_hasnt_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_hasnt_Email_Email_activity</targetReference>
            </connector>
            <label>Contact hasnt Email</label>
        </rules>
    </decisions>
    <interviewLabel>Solo registration success {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solo registration success</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_has_Email_Email_activity</name>
        <label>Contact has Email Email activity</label>
        <locationX>585</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>EAN_Solo_regisration_success</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Custom__c</field>
            <value>
                <elementReference>$Record.Event_custom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Participation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Solo registration success</stringValue>
            </value>
        </inputAssignments>
        <object>Email_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Contact_hasnt_Email_Email_activity</name>
        <label>Contact hasnt Email Email activity</label>
        <locationX>583</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>EAN_Solo_regisration_success</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Sent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Custom__c</field>
            <value>
                <elementReference>$Record.Event_custom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Participation__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_To_Email__c</field>
            <value>
                <elementReference>$Record.Participant_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Solo registration success</stringValue>
            </value>
        </inputAssignments>
        <object>Email_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>870</locationX>
        <locationY>116</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_has_Email_Email_activity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_hasnt_Email_Email_activity</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Email_Activity__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_email</targetReference>
        </connector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Terms_Acceped__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Event_Registration_Sub_Group__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Participant__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
