force-app/main/default/flows/Submit_Record_For_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>982</locationX>
        <locationY>407</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ApplicationForm.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>ApplicationForm.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_For_Existed_Approval</name>
        <label>Submit For Existed Approval</label>
        <locationX>773</locationX>
        <locationY>735</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ApplicationForm.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ProcessInstance.Id</assignToReference>
            <name>instanceId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApplicationForm.Id</assignToReference>
            <name>entityId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>792</locationX>
        <locationY>402</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Daft_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationForm.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Daft Status</label>
        </rules>
        <rules>
            <name>Further_Information_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicationForm.Form_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Further Information Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Process_Instance</targetReference>
            </connector>
            <label>Further Information Required</label>
        </rules>
    </decisions>
    <interviewLabel>Submit Record For Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit Record For Approval</label>
    <loops>
        <name>Over_App_Forms</name>
        <label>Over App Forms</label>
        <locationX>544</locationX>
        <locationY>437</locationY>
        <assignNextValueToReference>ApplicationForm</assignNextValueToReference>
        <collectionReference>ApplicationForms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Forms</name>
        <label>Get Application Forms</label>
        <locationX>249</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Over_App_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <object>Application_form__c</object>
        <outputReference>ApplicationForms</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Form_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Process_Instance</name>
        <label>Get Process Instance</label>
        <locationX>774</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_For_Existed_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationForm.Id</elementReference>
            </value>
        </filters>
        <object>ProcessInstance</object>
        <outputReference>ProcessInstance</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Application_Forms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application_form__c</objectType>
    </variables>
    <variables>
        <name>ApplicationForms</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application_form__c</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProcessInstance</objectType>
    </variables>
</Flow>
