force-app/main/default/flows/Submit_All_Ratings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>SelectAll</name>
        <choiceText>Select All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Select All</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Rated</name>
        <label>Check if Rated</label>
        <locationX>1118</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Get_Reviewer_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_reviews_to_submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAbstractReviews</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorScreen</targetReference>
            </connector>
            <label>No reviews to submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Review_Submission_Window</name>
        <label>Check Review Submission Window</label>
        <locationX>1126</locationX>
        <locationY>757</locationY>
        <defaultConnector>
            <targetReference>Submission_Closed_Window</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Submission_Open</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Review_Submissiom_Window.Active_Abstract_Review_Window__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Abstract Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Review_Submissiom_Window.Active_Abstract_Review_Window__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late Breaking Abstract Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectAbstractToSubmit</targetReference>
            </connector>
            <label>Review Submission Open</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AbstractRatingsChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rated</stringValue>
            </value>
        </filters>
        <object>Abstract_Review__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>SubmitAllRatings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit All Ratings</label>
    <loops>
        <name>Loop_Abstract_Reviews</name>
        <label>Loop Abstract Reviews</label>
        <locationX>1013</locationX>
        <locationY>1012</locationY>
        <collectionReference>GetAbstractReviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateAllAbstractSubmissions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submit_Success_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Review_Submissiom_Window</name>
        <label>Get Review Submissiom Window</label>
        <locationX>1126</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Review_Submission_Window</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reviewer_Event.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active_Abstract_Review_Window__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reviewer_Event</name>
        <label>Get Reviewer Event</label>
        <locationX>1122</locationX>
        <locationY>484</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Review_Submissiom_Window</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reviewer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Event__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAbstractReviews</name>
        <label>GetAbstractReviews</label>
        <locationX>1124</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Rated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reviewer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grading__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Abstract_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllAbstractSubmissions</name>
        <label>UpdateAllAbstractSubmissions</label>
        <locationX>1192</locationX>
        <locationY>1012</locationY>
        <connector>
            <targetReference>Loop_Abstract_Reviews</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Submission_Closed_Window</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Abstract_Reviews.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract_Review__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1364</locationX>
        <locationY>472</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoReviewsToSubmitText</name>
            <fieldText>&lt;p&gt;You do not have any reviews to submit. &lt;/p&gt;&lt;p&gt;Please make sure you rate all reviews first. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectAbstractToSubmit</name>
        <label>SelectAbstractToSubmit</label>
        <locationX>1014</locationX>
        <locationY>874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Abstract_Reviews</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Are you sure you want to submit all your abstract ratings? &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;You will not be able to edit your ratings after submitting them. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmFooter</name>
            <extensionName>dhfpi:lwcFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>backLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pauseLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submission_Closed_Window</name>
        <label>Submission Closed Window</label>
        <locationX>1277</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmissionClosedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The review submission window is closed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Success_Message</name>
        <label>Submit Success Message</label>
        <locationX>1016</locationX>
        <locationY>1231</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Your ratings have been successfully submitted!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>998</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAbstractReviews</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
