force-app/main/default/flows/Terms_Conditions_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>DisplayValidationError</name>
        <label>DisplayValidationError</label>
        <locationX>312</locationX>
        <locationY>689</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terms_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DisplayValidationError_0</name>
        <label>DisplayValidationError</label>
        <locationX>831</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>ShowErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Terms_Conditions_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Curent_DateTime</name>
        <label>Set Curent DateTime</label>
        <locationX>1003</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_User.Last_Accepted_Terms_Conditions_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Last_Accepted_T_Cs_date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Data</name>
        <label>Update Contact Data</label>
        <locationX>545</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>GetContact.Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Profession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Residency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country_of_Residence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Prescriber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescriber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Topics_of_interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Topic_Of_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Other_Profession__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Profession</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Hospital_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hospital</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Department_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfficialCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Data_0</name>
        <label>Update Contact Data</label>
        <locationX>670</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>GetContact.Hospital_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hospital_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.Department_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Department_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Street_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_Zip_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Official_City_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OfficialCountry_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accepted_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CountryOfResidenceDefaultChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SetCountryOfResidenceDefaultChoice}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetCountryOfResidenceDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>OfficialCountryDeaultChoice</name>
        <choiceText>{!SetOfficialCountryDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetOfficialCountryDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>OtherProfessionDefaultChoice</name>
        <choiceText>{!SetOtherProfessionDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetOtherProfessionDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>PrescriberDedaultChoice</name>
        <choiceText>{!SetPrescriberDedaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetPrescriberDedaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>ProfessionDefaultChoice</name>
        <choiceText>{!SetProfessionDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetProfessionDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>SalutationDefaultChoice</name>
        <choiceText>{!SetSalutationDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetSalutationDefaultChoice</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Accepted</name>
        <label>Field Validation</label>
        <locationX>537</locationX>
        <locationY>797</locationY>
        <defaultConnector>
            <targetReference>DisplayValidationError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not valid</defaultConnectorLabel>
        <rules>
            <name>Terms_Accepted</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR (7 AND 8)) AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>I_accept_terms_and_conditions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Salutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Salutation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Country_of_Residence</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Prescriber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a value</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select your Profession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Profession</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Profession</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Please specify your profession further</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfficialCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvalidZip</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvalidCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Accepted_0</name>
        <label>Field Validation</label>
        <locationX>667</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>DisplayValidationError_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Official_City_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OfficialCountry_0</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Select a Country</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvalidZip_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvalidCity_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Congress_Participants</name>
        <label>Congress Participants</label>
        <locationX>667</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>The_User_Accepted_T_Cs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted before &amp; not registered</defaultConnectorLabel>
        <rules>
            <name>Registered_for_Congress</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.Congress_Live_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.MailingCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.MailingCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terms_Conditions_0_0</targetReference>
            </connector>
            <label>Registered for Congress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Terms_Conditions_Ever_Accepted</name>
        <label>Terms&amp;Conditions Ever Accepted?</label>
        <locationX>533</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Congress_Participants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted Before</defaultConnectorLabel>
        <rules>
            <name>Never_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Last_Accepted_Terms_Conditions_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Terms_Conditions</targetReference>
            </connector>
            <label>Never Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>The_User_Accepted_T_Cs</name>
        <label>The User Accepted T&amp;Cs?</label>
        <locationX>989</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>Terms_Conditions_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accepted</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_User.Last_Accepted_Terms_Conditions_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Terms_Conditions_Settings.Last_Modified_Date__c</elementReference>
                </rightValue>
            </conditions>
            <label>Accept</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OfficialCountryRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.MailingCountry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetOfficialCountryDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OtherProfessionRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC8Od</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetOtherProfessionDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrescriberPricklistRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC7eW</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetPrescriberDedaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProfessionPicklistRecordChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000ABwSN</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetProfessionDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyPicklist</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC7Rb</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetCountryOfResidenceDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResidencyPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Residency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationPicklistRecordChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.Salutation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetSalutationDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopicsOfInterestPicklistRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.00N3Y00000AC7eX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Topics_of_interest__c</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopictOfInterestPicklistChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Topics_of_interest__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>InvalidCity</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Official_City})&gt;=40, true, false)</expression>
    </formulas>
    <formulas>
        <name>InvalidCity_0</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Official_City_0})&gt;=40, true, false)</expression>
    </formulas>
    <formulas>
        <name>InvalidZip</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Official_Zip})&gt;=20,true, false)</expression>
    </formulas>
    <formulas>
        <name>InvalidZip_0</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!Official_Zip_0})&gt;=20,true, false)</expression>
    </formulas>
    <formulas>
        <name>SetCountryOfResidenceDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Residency__c}) , &quot;Select a Country&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetOfficialCountryDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!GetContact.MailingCountry} , &quot;Select a Country&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetOtherProfessionDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Other_Profession__c}) , &quot;Please specify your profession further&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetPrescriberDedaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Prescriber__c}) , &quot;Select a value&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetProfessionDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Profession__c}) , &quot;Select your Profession&quot;)</expression>
    </formulas>
    <formulas>
        <name>SetSalutationDefaultChoice</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE( TEXT({!GetContact.Salutation}) , &quot;Select a Salutation&quot;)</expression>
    </formulas>
    <interviewLabel>Terms &amp; Conditions Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terms &amp; Conditions Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>46</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Last_Accepted_Terms_Conditions_date__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Terms_Conditions_Settings</name>
        <label>Get Terms &amp; Conditions Settings</label>
        <locationX>53</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Terms_Conditions_Settings__mdt</object>
        <sortField>Last_Modified_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>40</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Terms_Conditions_Ever_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Residency__c</queriedFields>
        <queriedFields>Profession__c</queriedFields>
        <queriedFields>Other_Profession__c</queriedFields>
        <queriedFields>Prescriber__c</queriedFields>
        <queriedFields>Hospital_Name__c</queriedFields>
        <queriedFields>Department_Name__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>Congress_Live_Access__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>763</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>Set_Curent_DateTime</targetReference>
        </connector>
        <inputReference>GetContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Last_Accepted_T_Cs_date</name>
        <label>Update Last Accepted T&amp;Cs date</label>
        <locationX>1163</locationX>
        <locationY>781</locationY>
        <inputReference>Get_Current_User</inputReference>
    </recordUpdates>
    <screens>
        <name>Terms_Conditions</name>
        <label>Terms &amp; Conditions</label>
        <locationX>541</locationX>
        <locationY>443</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact_Data</targetReference>
        </connector>
        <fields>
            <name>Terms</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;EAN&apos;s Terms and Conditions&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52);&quot;&gt;﻿Please, complete all required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Salutation</name>
            <choiceReferences>SalutationPicklistRecordChoices</choiceReferences>
            <choiceReferences>SalutationDefaultChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SalutationDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Salutation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Complete this field.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!First_Name}), False, True)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!Last_Name}), False, True)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Country_of_Residence</name>
            <choiceReferences>CountryOfResidenceDefaultChoice</choiceReferences>
            <choiceReferences>ResidencyPicklist</choiceReferences>
            <choiceReferences>ResidencyPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CountryOfResidenceDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Country of Residence</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Profession</name>
            <choiceReferences>ProfessionDefaultChoice</choiceReferences>
            <choiceReferences>ProfessionPicklistRecordChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>ProfessionDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Profession</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Profession</name>
            <choiceReferences>OtherProfessionDefaultChoice</choiceReferences>
            <choiceReferences>OtherProfessionRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OtherProfessionDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Other Profession</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Profession</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Prescriber</name>
            <choiceReferences>PrescriberDedaultChoice</choiceReferences>
            <choiceReferences>PrescriberPricklistRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PrescriberDedaultChoice</defaultSelectedChoiceReference>
            <fieldText>Prescriber</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Official_Address</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Official Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospital</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.Hospital_Name__c</elementReference>
            </defaultValue>
            <fieldText>Hospital</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Department</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.Department_Name__c</elementReference>
            </defaultValue>
            <fieldText>Department</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Official_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Official Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Official_Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Official Zip/ Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ValidateZipMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;Please enter a zip code/ postal code with less than 20 characters.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidZip</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Official_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingCity</elementReference>
            </defaultValue>
            <fieldText>Official City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CityValidationText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;Please enter city name with less than 40 characters.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidCity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OfficialCountry</name>
            <choiceReferences>OfficialCountryDeaultChoice</choiceReferences>
            <choiceReferences>ResidencyPicklist</choiceReferences>
            <choiceReferences>ResidencyPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OfficialCountryDeaultChoice</defaultSelectedChoiceReference>
            <fieldText>OfficialCountry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Topic_Of_Interest</name>
            <choiceReferences>TopictOfInterestPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Topics of Interest (please select at least one)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;Please accept &lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot;&gt;EAN&apos;s Terms and Conditions&lt;/a&gt; to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept_terms_and_conditions</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept EAN&apos;s Terms and Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field.&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!I_accept_terms_and_conditions}, True, False)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terms_Conditions_0</name>
        <label>Terms &amp; Conditions</label>
        <locationX>1004</locationX>
        <locationY>484</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Curent_DateTime</targetReference>
        </connector>
        <fields>
            <name>Terms_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;EAN&apos;s Terms And Conditions&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text1_0</name>
            <fieldText>&lt;p&gt;We have updated our &lt;a href=&quot;https://www.ean.org/terms-privacy&quot; target=&quot;_blank&quot;&gt;Terms and Conditions&lt;/a&gt;. Please accept them to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_accept_terms_and_conditions_0</name>
            <dataType>Boolean</dataType>
            <fieldText>I accept EAN&apos;s Terms And Conditions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Complete this field&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!I_accept_terms_and_conditions_0}, True, False)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terms_Conditions_0_0</name>
        <label>Terms &amp; Conditions</label>
        <locationX>676</locationX>
        <locationY>297</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Contact_Data_0</targetReference>
        </connector>
        <fields>
            <name>Info</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Certificates for Congress&lt;/b&gt;&lt;/p&gt;&lt;p&gt;In order to display the city and country on your certificate of attendance correctly, please complete your official address:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Official_Address_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Official Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospital_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.Hospital_Name__c</elementReference>
            </defaultValue>
            <fieldText>Hospital</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Department_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.Department_Name__c</elementReference>
            </defaultValue>
            <fieldText>Department</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Official_Street_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Official Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Official_Zip_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Official Zip/ Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ValidateZipMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;Please enter a zip code/ postal code with less than 20 characters.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidZip_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ValidationMessage_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;Please, complete all required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowErrorMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Official_City_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContact.MailingCity</elementReference>
            </defaultValue>
            <fieldText>Official City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CityValidationText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(194, 57, 52);&quot;&gt;Please enter city name with less than 40 characters.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidCity_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OfficialCountry_0</name>
            <choiceReferences>OfficialCountryDeaultChoice</choiceReferences>
            <choiceReferences>ResidencyPicklist</choiceReferences>
            <choiceReferences>ResidencyPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OfficialCountryDeaultChoice</defaultSelectedChoiceReference>
            <fieldText>OfficialCountry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>132</locationY>
        <connector>
            <targetReference>Get_Terms_Conditions_Settings</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowErrorMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
