force-app/main/default/flows/Visa_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Attach_and_send_Visa_Letter</name>
        <label>Attach and send Visa Letter</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>CreateAndSendVisaLetter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Visa_Letter_Information_3</targetReference>
        </connector>
        <inputParameters>
            <name>visaLetterIds</name>
            <value>
                <elementReference>visaLetterId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>CountryDefaultChoice</name>
        <choiceText>{!SetCountryDefaultChoice}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>SetCountryDefaultChoice</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Is_Participant_Registered</name>
        <label>Is Participant Registered</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Visa_Letter_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Participation.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Visa_Letter_already_requested</name>
        <label>Is Visa Letter already requested</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Visa_Letter_Already_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VL_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Visa_Letter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visa_Letter_Information</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CountryGlobalPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MailingCountryCode</picklistField>
        <picklistObject>Contact</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryPicklistRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact.MailingCountry</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CountryDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CountryPicklistRecordChoice2</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CountryGlobalPicklistChoice</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SetCountryDefaultChoice</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Visa_Letter__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>SetCountryDefaultChoice</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Contact.Residency__c})), &quot;Select a Country&quot;, TEXT({!Get_Contact.Residency__c}))</expression>
    </formulas>
    <interviewLabel>Visa Letter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visa Letter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Visa_Letter</name>
        <label>Create Visa Letter</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>visaLetterId</assignRecordIdToReference>
        <connector>
            <targetReference>Attach_and_send_Visa_Letter</targetReference>
        </connector>
        <inputAssignments>
            <field>Authority__c</field>
            <value>
                <elementReference>Authority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Expiry__c</field>
            <value>
                <elementReference>Date_of_Expiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Issue__c</field>
            <value>
                <elementReference>Date_of_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Participation__c</field>
            <value>
                <elementReference>Get_Event_Participation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nationality__c</field>
            <value>
                <elementReference>Nationality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Official_City__c</field>
            <value>
                <elementReference>Official_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Official_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Official_State_Province__c</field>
            <value>
                <elementReference>Official_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Official_Street__c</field>
            <value>
                <elementReference>Official_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Official_ZIP_Postal_Code__c</field>
            <value>
                <elementReference>Official_ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Passport_Number__c</field>
            <value>
                <elementReference>Passport_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_of_Birth__c</field>
            <value>
                <elementReference>Place_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <object>Visa_Letter__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Visa_Letter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Participation.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Participation</name>
        <label>Get Event Participation</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Participant_Registered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Participant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Visa_Letter</name>
        <label>Get Visa Letter</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Visa_Letter_already_requested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Participation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Event_Participation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visa_Letter__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Visa_Letter_Already_Requested</name>
        <label>Visa Letter Already Requested</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Already_Requested</name>
            <fieldText>&lt;p&gt;The visa letter has already been requested.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visa_Letter_Information</name>
        <label>Visa Letter Information</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Visa_Letter_Information_2</targetReference>
        </connector>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.FirstName</elementReference>
            </defaultValue>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Official_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.MailingStreet</elementReference>
            </defaultValue>
            <fieldText>Official Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Official_ZIP_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.MailingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Official ZIP/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Official_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.MailingCity</elementReference>
            </defaultValue>
            <fieldText>Official City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>CountryDefaultChoice</choiceReferences>
            <choiceReferences>CountryGlobalPicklistChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CountryDefaultChoice</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Official_State_Province</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.MailingState</elementReference>
            </defaultValue>
            <fieldText>Official State/Province</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visa_Letter_Information_2</name>
        <label>Visa Letter Information 2</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Visa_Letter</targetReference>
        </connector>
        <fields>
            <name>Passport_Number</name>
            <dataType>String</dataType>
            <fieldText>Passport Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nationality</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Nationality__c</elementReference>
            </defaultValue>
            <fieldText>Nationality</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Place_of_Birth</name>
            <dataType>String</dataType>
            <fieldText>Place of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gender_Picklist</name>
            <choiceReferences>Gender</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Gender</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Authority</name>
            <dataType>String</dataType>
            <fieldText>Authority</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Contact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Issue</name>
            <dataType>Date</dataType>
            <fieldText>Date of Issue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Expiry</name>
            <dataType>Date</dataType>
            <fieldText>Date of Expiry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visa_Letter_Information_3</name>
        <label>Visa Letter Information 3</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You</name>
            <fieldText>&lt;p&gt;Thank you for requesting the visa letter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Visa_Letter_Requested</name>
        <label>Visa Letter Requested</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Visa_Letter_Not_Paid</name>
            <fieldText>&lt;p&gt;The event registration has not been paid yet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Event_Participation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visaLetterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>visaLetters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
