force-app/main/default/flows/WithdrawAbstractSubmission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Event_Started</name>
        <label>Event Started?</label>
        <locationX>463</locationX>
        <locationY>561</locationY>
        <defaultConnector>
            <targetReference>AbstractCannotBeWithdrawnScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotStarted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEventDate.Start_Time__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Abstract_Withdrawal_Screen</targetReference>
            </connector>
            <label>NotStarted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Submitted</name>
        <label>Stage = Submitted?</label>
        <locationX>666</locationX>
        <locationY>447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Started</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AbstractCannotBeWithdrawnScreen</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Abstract_Deletion_Screen</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Withdrawal_Confirmed</name>
        <label>Withdrawal/Deletion Confirmed?</label>
        <locationX>675</locationX>
        <locationY>877</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CorfirmAbstractWithdrawalToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStage</targetReference>
            </connector>
            <label>Withdraw</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CorfirmAbstractDeletionToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStage_0</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <interviewLabel>WithdrawAbstractSubmission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WithdrawAbstractSubmission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAbstractStage</name>
        <label>GetAbstractStage</label>
        <locationX>677</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEventDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Abstract__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage__c</queriedFields>
        <queriedFields>Event__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEventDate</name>
        <label>GetEventDate</label>
        <locationX>675</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Submitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAbstractStage.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateStage</name>
        <label>UpdateStage</label>
        <locationX>579</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStage_0</name>
        <label>UpdateStage</label>
        <locationX>768</locationX>
        <locationY>1075</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </inputAssignments>
        <object>Abstract__c</object>
    </recordUpdates>
    <screens>
        <name>AbstractCannotBeWithdrawnScreen</name>
        <label>Abstract cannot be withdrawn screen</label>
        <locationX>675</locationX>
        <locationY>626</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AbstractCannotBeWithdrawnText</name>
            <fieldText>&lt;p&gt;Your abstract cannot be withdrawn.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AbstractStageError</name>
            <fieldText>&lt;p&gt;Abstracts can only be withdrawn if they have been submitted or are in review.&lt;/p&gt;&lt;p&gt;It is in following stage:&lt;/p&gt;&lt;p&gt;{!GetAbstractStage.Stage__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAbstractStage.Stage__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>In Review</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EventStartTimeError</name>
            <fieldText>&lt;p&gt;Abstracts can only be withdrawn before the event start time. &lt;/p&gt;&lt;p&gt;The event started at {!GetEventDate.Start_Time__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetEventDate.Start_Time__c</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Abstract_Deletion_Screen</name>
        <label>Confirm Abstract Deletion Screen</label>
        <locationX>844</locationX>
        <locationY>639</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Withdrawal_Confirmed</targetReference>
        </connector>
        <fields>
            <name>ConfirmAbstractDeletionText</name>
            <fieldText>&lt;p&gt;If you continue, your draft abstract will be deleted. &lt;/p&gt;&lt;p&gt;Are you sure you want to delete your abstract?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CorfirmAbstractDeletionToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to delete my abstract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to keep my draft</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Abstract_Withdrawal_Screen</name>
        <label>Confirm Abstract Withdrawal Screen</label>
        <locationX>515</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Withdrawal_Confirmed</targetReference>
        </connector>
        <fields>
            <name>ConfirmAbstractWithdrawalText</name>
            <fieldText>&lt;p&gt;Are you sure you want to withdraw your abstract?&lt;/p&gt;&lt;p&gt;When withdrawing this abstract, you will still be able to see it in the community, but you can not edit or re-submit it anymore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CorfirmAbstractWithdrawalToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes, I want to withdraw my abstract</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No, I want to keep my submission</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAbstractStage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
